<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Checking Page</title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <%- include ./nav.ejs %> 
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="clearfix"></div>
                <div role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">

                                <h3>  Checking Page </h3> 

                            </div>
                        </div>
                    </div>  
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                    <div class="x_content">

                                            <!-- start accordion    --> 
        
                                            <% for (var goal of data) { %> 
                                                
                                            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true"> 
                                                <div class="panel"> <!--PANEL FOR GOAL-->
                                                    <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= goal.metric_ID %>" aria-expanded="true" aria-controls="collapse<%= goal.metric_ID %>">
                                                        <h4 class="panel-title"> 
                                                            <!--CHANGED TO GOAL NAME-->
                                                            GOAL NAME:  <%= goal.metric_Name %> <%= goal.metric_ID %>
                                                        </h4>
        
                                                    </a>      

                                                    

                                                    <div id="collapse<%= goal.metric_ID %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                        <input type="hidden" name="GID" value="<%= goal.metric_ID %>">   
                                                        
                                                        <br>
                                                        <% for (var meas of dataB) { %>
                                                            <% if (meas.metric_ID == goal.metric_ID) { %>
                                                         
                                                        <div class="panel-body">
                                                            <!--Group 1 table-->
        
                                                            <div class="panel"> <!--PANEL FOR MEASUREMENT-->
        
                                                                <a class="panel-heading" role="tab" id="HeadGroupOne" data-toggle="collapse" data-parent="#headingOne" href="#collapses<%= meas.measurement_ID %>" aria-expanded="true" aria-controls="collapses<%= meas.measurement_ID %>">
                                                                    <h3 class="panel-title">
                                                                        Measurement: <%= meas.measurement_Name %> - <%= meas.measurement_ID %> 
                                                                    </h3>
                                                                </a>
                                                                <div id="collapses<%= meas.measurement_ID %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="HeadGroupOne">
                                                                    <input type="hidden" name="MID" value="<%= meas.measurement_ID %>">
        
                                                                    <% for (var activity of dataC ) { %>
                                                                    <% if (meas.measurement_ID == activity.measurement_ID) { %> 
                                                                        
                                                                    <div class="panel-body">
                                                                        <div class="panel"> <!--PANEL FOR ACTIVITIES-->
                                                                        
                                                                        <a class="panel-heading" role="tab" id="HeadGroupTwo" data-toggle="collapse" data-parent="#HeadGroupOne" href="#Collapse<%=activity.activity_ID%>" aria-expanded="true" aria-controls="Collapse<%=activity.activity_ID%>">
                                                                        
                                                                            <h4 class="panel-title">
                                                                                    Activity:<%= activity.activity_name%>
                                                                            </h4>
                                                                        </a>
                                                                        
                                                                        <div id="Collapse<%=activity.activity_ID%>" class="collapse"> 

                                                                                <table class="table table-bordered">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>Activity Name</th>
                                                                                                <th>Activity Description</th>
                                                                                                <th>Quality Target</th>   
                                                                                                <th>View Submitted Evidences</th>
                                                                                                
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                        
                        
                                                                                            <tr>
                                                                                                <!-- MEASUREMENT TABLE :  -->
                                                                                                <td> <%= activity.activity_name %> </td>
                                                                                                <td> <%= activity.description%></td>
                                                                                                <td> <%= activity.target %> </td> 
                                                                                                <td><button type="submit" class="btn btn-primary">View </button></td>
                                                                                            </tr>
                        
                        
                                                                                        </tbody>
                                                                                    </table>
                                                                        
                                                                        </div>
                                                                        
                                                                        </div> 

                                                                    </div>
                                                                    <% } %>
                                                                    <% } %>
                                                                </div> 
                                                                
                                                                
                                                            </div> 
                                                            
                                                        </div>
        
                                                        <!--End of Group 1 Table -->
                                                        
                                                        <% } %> 
                                                        <% } %>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                        </div>  
                                
                            </div>
                        </div>
                    </div>


                    <!-- /page content -->



                    <!-- footer content -->
                    <footer>
                        <div class="pull-right">
                            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    <!-- /footer content -->
                </div>
            </div>

            <!script for dynamic text area>
        <script>
            function textAreaAdjust(o) {
                o.style.height = "1px";
                o.style.height = (25 + o.scrollHeight) + "px";
            }

        </script>

            <!-- jQuery -->
            <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- FastClick -->
            <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
            <!-- NProgress -->
            <script src="assets/vendors/nprogress/nprogress.js"></script>
            <!-- bootstrap-progressbar -->
            <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
            <!-- iCheck -->
            <script src="assets/vendors/iCheck/icheck.min.js"></script>
            <!-- bootstrap-daterangepicker -->
            <script src="assets/vendors/moment/min/moment.min.js"></script>
            <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
            <!-- bootstrap-wysiwyg -->
            <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
            <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
            <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
            <!-- jQuery Tags Input -->
            <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
            <!-- Switchery -->
            <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
            <!-- Select2 -->
            <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
            <!-- Parsley -->
            <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
            <!-- Autosize -->
            <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
            <!-- jQuery autocomplete -->
            <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
            <!-- starrr -->
            <script src="assets/vendors/starrr/dist/starrr.js"></script>
            <!-- Custom Theme Scripts -->
            <script src="assets/build/js/custom.min.js"></script>

</body>

</html>
