<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Checking Reports Page</title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="assets/vendors/pnotify/pnotify.custom.min.css" media="all" rel="stylesheet" type="text/css" />

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
</head>


<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <%- include ./nav.ejs %>
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">

                            <h3>Checking Reports Page</h3>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <br />


                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <br />


                                            <div class="col-md-12 col-sm-6 col-xs-12">
                                                <div class="x_panel">
                                                    <div class="x_title">
                                                        <h2><i class="fa fa-align-left"></i>Checking Phase
                                                        </h2>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">

                                                        <!-- start accordion    -->
                                                        <% for (var cycle of dataD) { %>
                                                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                                            <div class="panel">
                                                                <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= cycle.cycle_ID %>" aria-expanded="true" aria-controls="collapse<%= cycle.cycle_ID %>">
                                                                    <h4 class="panel-title">
                                                                        CYCLE NAME: <%= cycle.cycle_Name %>
                                                                    </h4>
                                                                </a>
                                                                <div id="collapse<%= cycle.cycle_ID %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                                    <% for (var metric of data) { %>
                                                                    <% if (metric.cycle_ID == cycle.cycle_ID) { %>

                                                                    <div class="panel-body">
                                                                        <!--Group 1 table-->

                                                                        <div class="panel">

                                                                            <a class="panel-heading" role="tab" id="HeadGroupOne" data-toggle="collapse" data-parent="#headingOne" href="#Collapse<%= metric.metric_ID %>" aria-expanded="true" aria-controls="Collapse<%= metric.metric_ID %>">
                                                                                <h3 class="panel-title">
                                                                                    GOALS AND METRICS:
                                                                                    <%= metric.metric_Name %>
                                                                                </h3>
                                                                            </a>
                                                                            <div id="Collapse<%= metric.metric_ID %>" class="collapse">


                                                                                <table class="table table-bordered">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Measruement ID</th>
                                                                                            <th>Measure Name</th>
                                                                                            <th>Description</th>
                                                                                            <th>Term Result</th>
                                                                                            <th>Quality Target</th>
                                                                                            <th>Activities</th>

                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>

                                                                                        <% for (var measure of dataE) { %>
                                                                                        <% if (measure.metric_ID == metric.metric_ID) { %>
                                                                                        <tr>
                                                                                            <td><%= measure.measurement_ID %>
                                                                                            </td>
                                                                                            <td><%= measure.measurement_Name %>
                                                                                            </td>
                                                                                            <td><%= measure.measurement_Description %>
                                                                                            </td>
                                                                                            <td>FINAL SCORE</td>
                                                                                            <td><%= measure.QualityTarget %>
                                                                                            </td>
                                                                                            <td>
                                                                                                <table class="table table-bordered" id="TM<%= measure.measurement_ID %>">
                                                                                                    <thead>
                                                                                                        <th>Activity Name</th>
                                                                                                        <th>Score</th>
                                                                                                        <th>Target</th>
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                        <% for (var activities of dataF) { %>
                                                                                                        <% if (activities.measurement_ID == measure.measurement_ID) { %>
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <%= activities.activity_name %>
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                <input type="text" name="score<%=activities.activity_ID %>" id="score<%=activities.activity_ID %>" value="<%=activities.current_Score %>">
                                                                                                                <input type="hidden" id="length" name="length" value="<%= dataE.length %>" >
                                                                                                            <td>
                                                                                                                <input type="text" name="target<%=activities.activity_ID %>" id="target<%=activities.activity_ID %>" value="<%=activities.target %>">
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <% } %>
                                                                                                        <% } %>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <label>Final Score</label>
                                                                                                <input id="ID<%= measure.measurement_ID %>">

                                                                                            </td>
                                                                                        </tr>
                                                                                        <% } %>
                                                                                        <% } %>

                                                                                    </tbody>
                                                                                </table>



                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                    <!--End of Group 1 Table -->
                                                                    <% } %>
                                                                    <% } %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                    </div>

                                                    <!-- end of accordion -->



                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!Script for dynamic text area>
        <script>
            function textAreaAdjust(o) {
                o.style.height = "1px";
                o.style.height = (25 + o.scrollHeight) + "px";
            }

        </script>

        <script>
            $(document).ready(function() {
                var measurelength = parseInt(document.getElementById("length").value, 10);
                var rowindex = [];


                for (var x = 1; x <= measurelength; x++) {
                    var rows = document.getElementById("TM" + x).getElementsByTagName("tr").length;
                    document.getElementById("ID" + x).value = rows;
                    rowindex.push(rows);
                    var finalscore = [];
                    var computedscore = 0;
                    //console.log(rowindex)
                    for (var y = 1; y <= rowindex[x - 1]; y++) {
                       // console.log(y + "and" +  rowindex[x - 1]);
                        if (rowindex.length < 2) {
                           // console.log("hi")
                            var temp = (parseInt(document.getElementById("score" + y).value) / parseInt(document.getElementById("target" + y).value)) / rowindex[x - 1];
                            finalscore.push(temp);

                        } else {
                           
                            var adjustedindex = 0;
                            for (var f = 0; f < rowindex.length - 1; f++) {
                                adjustedindex = adjustedindex + rowindex[f];
                            }
                            var temp = (parseInt(document.getElementById("score" + (parseInt(y) + parseInt(adjustedindex))).value) / parseInt(document.getElementById("target" + (parseInt(y) + parseInt(adjustedindex))).value)) / rowindex[x - 1];
                            
                            finalscore.push(temp);
                        }
                        
                    }
                    //console.log(computedscore);
                    for (var z = 0; z < finalscore.length; z++) {
                        computedscore = computedscore + finalscore[z];
                        //console.log(finalscore[z]);
                    }

                    document.getElementById("ID" + x).value = (computedscore) * 100;
                }



            });

        </script>


        <!-- Bootstrap -->
        <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
        <script src="assets/vendors/pnotify/dist/pnotify.js"></script>
        <script src="assets/vendors/pnotify/dist/PNotifyButtons.js"></script>

        <!-- NProgress -->
        <script src="assets/vendors/nprogress/nprogress.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="assets/vendors/iCheck/icheck.min.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="assets/vendors/moment/min/moment.min.js"></script>
        <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- bootstrap-wysiwyg -->
        <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
        <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
        <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
        <!-- jQuery Tags Input -->
        <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
        <!-- Switchery -->
        <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
        <!-- Select2 -->
        <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
        <!-- Parsley -->
        <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
        <!-- Autosize -->
        <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
        <!-- jQuery autocomplete -->
        <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
        <!-- starrr -->
        <script src="assets/vendors/starrr/dist/starrr.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="assets/build/js/custom.min.js"></script>

</body>

</html>
