<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edit Measurement Page</title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md" style="background-color: #232931;">
    <div class="container body">
        <div class="main_container" style="background-color: #232931;">
            <%- include ./nav.ejs %>
            <!-- page content -->
            <div class="right_col" role="main" style="background-color: #232931;">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">

                            <h3 style="color: #dddddd;">Edit Metric Page</h3>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel" style="background-color: #393e46; border-color: #393e46;  border-radius: 8px;">
                            <% if (CASE == 0) { %>
                            <!--CASE 0-->
                            <div class="x_content">
                                <br />
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"
                                    action="UpdateMeasurement" method="POST">

                                    <div class="form-group">
                                        <label style="color: #dddddd;" class="control-label col-md-3 col-sm-3 col-xs-12"
                                            for="first-name">Measurement Name<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!--MEASUREMENT NAME INPUT-->
                                            <input type="hidden" name="MID" value="<%= data[0].measurement_ID%>">
                                            <input type="text" id="measurementName" name="measurementName" required="required"
                                                class="form-control col-md-7 col-xs-12" value="<%= data[0].measurement_Name%>" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label style="color: #dddddd;" for="Quality Target"
                                            class="control-label col-md-3 col-sm-3 col-xs-12">Description<span
                                                class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!--MEASUREMENT DESCRIPTION INPUT-->
                                            <textarea class="form-control" rows="3" id="measurementDesc" name="measurementDesc"
                                            value="<%= data[0].measurement_Description %>" required="required"><%= data[0].measurement_Description %></textarea>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label style="color: #dddddd;" class="control-label col-md-3 col-sm-3 col-xs-12"
                                            for="first-name">Priority Level:<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!--Priority INPUT-->
                                            <select class="form-control" name="priority" id ="priority">
                                                <option value="<%=data[0].priority_Level%>" selected="selected">
                                                    <%if(data[0].priority_Level==1){%>
                                                                High Priority
                                                            <%}else if(data[0].priority_Level==2){%>
                                                                Medium Priority
                                                            <%}else if(data[0].priority_Level==3){%>
                                                                Low Priority
                                                            <%}%>
															</option>
                                                           
                                                        <%if(data[0].priority_Level==1){%>
                                                                <option value=2>Medium Priority</option>
                                                                <option value=3>Low Priority</option>
                                                            <%}else if(data[0].priority_Level==2){%>
                                                                <option value=1>High Priority</option>
                                                                <option value=3>Low Priority</option>
                                                            <%}else if(data[0].priority_Level==3){%>
                                                                <option value=1>High Priority</option>
                                                                <option value=2>Medium Priority</option>
                                                            <%}%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" >
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <a type="button" class="btn btn-danger" href="/QualityMetric">
                                            cancel
                                        </a>
                                        <button type="submit" class="btn btn-primary">
                                            Submit
                                        </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <% } else { %>
                            <!--CASE 1-->
                            <div class="x_content">
                                    <br />
                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"
                                        action="AuditMeasurement" method="POST">
    
                                        <div class="form-group">
                                            <label style="color: #dddddd;" class="control-label col-md-3 col-sm-3 col-xs-12"
                                                for="first-name">Measurement Name<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <!--MEASUREMENT NAME INPUT-->
                                                <input type="hidden" name="MID" value="<%= data[0].measurement_ID%>">
                                                <input type="text" id="measurementName" name="measurementName" required="required"
                                                    class="form-control col-md-7 col-xs-12" value="<%= data[0].measurement_Name%>" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label style="color: #dddddd;" for="Quality Target"
                                                class="control-label col-md-3 col-sm-3 col-xs-12">Description<span
                                                    class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <!--MEASUREMENT DESCRIPTION INPUT-->
                                                <textarea class="form-control" rows="3" id="measurementDesc" name="measurementDesc"
                                                value="<%= data[0].measurement_Description %>" required="required"><%= data[0].measurement_Description %></textarea>
                                            </div>
                                        </div>
                                        
                                         <div class="form-group">
                                        <label style="color: #dddddd;" class="control-label col-md-3 col-sm-3 col-xs-12"
                                            for="first-name">Priority Level:<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!--Priority INPUT-->
                                            <select class="form-control" name="priority" id ="priority">
                                                <option value="<%=data[0].priority_Level%>" selected="selected">
                                                    <%if(data[0].priority_Level==1){%>
                                                                High Priority
                                                            <%}else if(data[0].priority_Level==2){%>
                                                                Medium Priority
                                                            <%}else if(data[0].priority_Level==3){%>
                                                                Low Priority
                                                            <%}%>
															</option>
                                                           
                                                        <%if(data[0].priority_Level==1){%>
                                                                <option value=2>Medium Priority</option>
                                                                <option value=3>Low Priority</option>
                                                            <%}else if(data[0].priority_Level==2){%>
                                                                <option value=1>High Priority</option>
                                                                <option value=3>Low Priority</option>
                                                            <%}else if(data[0].priority_Level==3){%>
                                                                <option value=1>High Priority</option>
                                                                <option value=2>Medium Priority</option>
                                                            <%}%>
                                            </select>
                                        </div>
                                    </div>
                                        <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                    for="first-name">Cycle:<span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <!--CYCLE INPUT-->
                                                    <select class="form-control" name="cycle" id ="cycle">
                                                        <% for (var currentCycle of dataC) { %>
                                                            <% if (data[0].cycle_ID == currentCycle.cycle_ID) { %>
                                                                <option value="<%= currentCycle.cycle_ID %>"><%= currentCycle.cycle_Name %></option>
                                                            <% } %>
                                                        <% } %>
                                                        <% for (var currentCycle of dataC) { %>
                                                                <% if (currentCycle.goal_ID == GID) { %>
                                                                <option value="<%= currentCycle.cycle_ID %>"><%= currentCycle.cycle_Name %></option>
                                                                <% } %>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                        <div class="modal-footer">
                                            <a type="button" class="btn btn-default" href="/QualityMetric">
                                                cancel
                                            </a>
                                            <button type="submit" class="btn btn-primary">
                                                Submit
                                            </button>
                                            
                                        </div>
    
                                    </form>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>

<script>
    var value=document.getElementById()
</script>
                <!-- /page content -->

                <!-- footer content -->
                <footer style="background-color: #232931; border-color: #232931;  border-radius: 8px;">
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>

        <!-- jQuery -->
        <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="assets/vendors/nprogress/nprogress.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="assets/vendors/iCheck/icheck.min.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="assets/vendors/moment/min/moment.min.js"></script>
        <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- bootstrap-wysiwyg -->
        <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
        <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
        <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
        <!-- jQuery Tags Input -->
        <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
        <!-- Switchery -->
        <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
        <!-- Select2 -->
        <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
        <!-- Parsley -->
        <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
        <!-- Autosize -->
        <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
        <!-- jQuery autocomplete -->
        <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
        <!-- starrr -->
        <script src="assets/vendors/starrr/dist/starrr.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="assets/build/js/custom.min.js"></script>

</body>

</html>