<!DOCTYPE html> 

<style>
.dash {
overflow-y: scroll;
height: 400px;
width: 1300px;
} 

.dash2 {
overflow-y: scroll;
height: 400px;
width: 530px;
}

.dash3 {
overflow-y: scroll;
height: 100%;
width: 100%;
}
</style>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Home </title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="assets/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="assets/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- FullCalendar -->
    <link href="assets/vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="assets/vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet"> 

    <!-- DataTable--> 
    <link href="assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet"> 


</head>

<body class="nav-md" style="background-color: #232931;">
    <div class="container body">
        <div class="main_container" style="background-color: #232931;">
            <%- include ./nav.ejs %>
            <!-- page content -->
            <div class="right_col" role="main" style="background-color: #232931;">
                <div class="col-md-4  tile_stats_count" style="color: #dddddd;">                       
                        <span class="count_top" style="font-size: 30px;"><i class="fa fa-tasks"></i>
                                <%= new Date().getFullYear();%>
                        </span>
                        
                </div> 
                
             <% if (current_user[0].Role == 1 || current_user[0].Role == 2 || current_user[0].Role == 3) { %>
                <div class="row">
                    <!MEASUREMENT>
                        <div class="col-md-12 col-sm-15 col-xs-15">
                            <div class="x_panel" style=" border-radius: 8px;">
                                <div class="x_title" style="font-style: italic;">
                                    <h2>METRICS</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <!--METRIC TABLE-->  
                                <% for (var mes of data) { %> 
                                    <table id="datatable-fixed-header" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Metric Name</th>
                                                <th>Description</th>
                                                <th></th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>                                             
                                                <td> <%= mes.metric_Name %> </td>
                                                <td><%= mes.metric_Desc %> </td>
                                                <td><form method="get" action="QualityMetrics">
                                                        <button type="submit" class="btn btn-primary">View Details</button>
                                                    </form></td> 
                                            </tr>
                                        </tbody>
                                    </table> 

                                <% } %>
                                    

                                </div> 
                            </div>
                        </div> 

               

                        <!MEASUREMENTS>
                        <div class="col-md-12 col-sm-15 col-xs-15">
                            <div class="x_panel" style=" border-radius: 8px;">
                                <div class="x_title" style="font-style: italic;">
                                    <h2>MEASUREMENTS</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <!--MEASRUEMENTS-->  
                                <% for (var meas of dataB) { %> 
                                    <% for (var targets of dataG) { %>
                                    
                                        <table id="datatable" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Measurement Name</th>
                                                <th>Description</th> 
                                                <th>Quality Target/s</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            <tr>
                                                <td> <%= meas.measurement_Name %> </td>
                                                <td><%= meas.measurement_Description %> </td> 

                                                <td>
                                                    <% if (meas.measurement_ID == targets.measurementID) { %> 
                                                        <% if (targets.target_Type == 0) { %>
                                                            <%= targets.target%> % <%= targets.target_Desc %>
                                                        <% } else if (targets.target_Type == 1) { %>
                                                            <%= targets.target%> # <%= targets.target_Desc %>
                                                        <% } %>
                                                    <%  }  else { %> 
                                                        <!-- NONE WILL DISPLAY-->
                                                    <% } %>
                                                </td>
                                                <td> <form method="get" action="ViewMeasurementDetails">
                                                        <input type="hidden" name="MID" value="<%= meas.measurement_ID %>">
                                                        <input type="hidden" name="CID" value="<%= meas.cycle_ID %>">
                                                        <button type="submit" class="btn btn-primary">View
                                                            Details</button>
                                                    </form></td>
                                            </tr>


                                        </tbody>
                                    </table>

                                   
                                
                                    
                                <% } %>  
                            <% } %>      
                                    

                                </div>
                            </div>
                        </div> 

                        <!ACTIVITIES>
                        <div class="col-md-12 col-sm-15 col-xs-15">
                            <div class="x_panel" style=" border-radius: 8px;">
                                <div class="x_title" style="font-style: italic;">
                                    <h2>ACTIVITIES</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                        <!--ACTIVITIES-->   
                                         
                                            <% for (var acti of dataH) { %> 
                                                
                                        <table id="datatable-responsive" class="table table-bordered" >
                                                <thead>
                                                    <tr>
                                                        <th>Activity Name</th>
                                                        <th>Description</th> 
                                                        <th>Deadline</th>
                                                        <th></th>
                                                    </tr>
                                                </thead> 
                                   
                                            <tbody>
    
                                                <tr>
                                                    <td> <%= acti.activity_name %> </td>
                                                    <td><%= acti.description %> </td>
                                                    <td><%= acti.deadline.toString().substr(0, 15) %></td> 
                                                    <td><form method="get" action="QualityMetrics">
                                                            <button type="submit" class="btn btn-primary">View Details</button>
                                                        </form></td>
                                                </tr>

    
                                            </tbody>
                                  
                                        </table> 

                                        

                                 <% } %>
                                 
                                    
                                </div>
                            </div>
                        </div> 
                </div> 

                <% }  else if (current_user[0].Role == 4) { %>
                    <div class="row"> 
                            <div class="col-md-12 col-sm-15 col-xs-15">
                                <div class="x_panel" style=" border-radius: 8px;">
                                        <div class="x_title">
                                            <h2>ACTIVITIES</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="dash col-md-12">
                                           <!--ACTIVITIES-->   
                                        
                                            <% for (var act of dataC) { %> 
                                                <% if (current_user[0].Group == act.activity_Member) { %> 

                                                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true"> 
                                                        <!--ACTIVITIES PANEL-->
                                                            <div class="panel">
                                                                <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne<%= act.activity_ID %>" aria-expanded="true" aria-controls="collapseOne<%= act.activity_ID %>">
                                                                    <h4 class="panel-title">
                                                                        <%= act.activity_ID %> - <%= act.activity_name %>
                                                                    </h4>
                                                                </a> 
                                                                <div id="collapseOne<%= act.activity_ID %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                                    <div class="panel-body"> 

                                                                        <div class="title_left">

                                                                                <h2>Description:</h2> 
                                                                                <h4><%= act.description %></h4>
                                                                                <br>
                                                                                <h2> Deadline </h2>
                                                                                <h4><%= act.deadline.toString().substr(0, 15) %></h4>
                                                                                <br> 
                                                                                <form method="get" action="QualityMetrics">
                                                                                        <button type="submit" class="btn btn-primary">View Details</button>
                                                                                    </form>
                                                                                <br>
                                                                                <br>

                                                                        </div>

                                                                            <!--SUBMISSIONS PANEL-->

                                                                            <% for (var pending of dataF) { %> 
                                                                            <% if (current_user[0].User_ID == pending.user_ID) { %>
                                                                            <div class="panel">
                                                                                <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#headingOne" href="#collapseTwo<%= pending.pending_ID %>" aria-expanded="false" aria-controls="collapseTwo<%= pending.pending_ID %>">

                                                                                    <h4 class="panel-title">
                                                                                        SUBMISSION # - <%= pending.pending_ID %>
                                                                                    </h4>

                                                                                </a>

                                                                                <div id="collapseTwo<%= pending.pending_ID %>" class="panel-collapse collpase" role="tabpanel" aria-labelledby="headingTwo">

                                                                                    <div class="panel-body">
                                                                                            <table class="table table-bordered" style="table-layout: fixed;"> 
                                                
                                                                                                    <thead>
                                                                                                        <tr>
                                                                                                            <th>Activity Name</th>
                                                                                                            <th>Status</th> 
                                                                                                            <th>Suggested Score</th>
                                                                                                            <th>Date Updated</th>
                                                                                                            <th>Comments</th>
                                                                                                            <th>Document Name</th>>
                                                                                                            <th></th>
                                                                                                        </tr>
                                                                                                    </thead> 
                                                                                       
                                                                                                <tbody>
                                                        
                                                                                                    <tr>
                                                                                                        <td> <%= pending.activity_name %> </td>
                                                                                                        <td><% if (pending.status == 0) { %> 
                                                                                                                P E N D I N G
                                                                                                            <% } else if (pending.status == 1) { %>
                                                                                                                A P P R O V E D 
                                                                                                            <% } else if (pending.status == 2) { %>
                                                                                                                D I S A P P R O V E D
                                                                                                            <% } %>
                                                                                                        </td> 
                                                                                                        <td><%= pending.suggested_Score %></td>
                                                                                                        <td><%= pending.dateupdated.toString().substr(0, 15) %></td>
                                                                                                        <td><%= pending.comment %></td> 
                                                                                                        <td style="word-wrap: break-word;"><%= pending.Document_Name %></td>
                                                                                                         
                                                                                                        <td><form method="get" action="QualityMetrics">
                                                                                                                <button type="submit" class="btn btn-primary">View Details</button>
                                                                                                            </form></td>
                                                                                                    </tr>
                                                
                                                        
                                                                                                </tbody>
                                                                                      
                                                                                            </table>
                                                                                    </div>

                                                                                </div>

                                                                            </div>    


                                                                            <% } %>
                                                                            <% } %>
                                                                        
                                                                    </div>

                                                                </div>
                                                            </div>
                
                                                    </div>

                                        <% } %>

                                 <% } %>
                                    </div>
                                </div>

                        </div> 
                    </div> 

                    <!--SUBMISSIONS TABLE -->

                
                <% } else { %> 
                    <div class="row">
                            <!METRIC>
                                <div class="col-md-12 col-sm-15 col-xs-15">
                                    <div class="x_panel" style=" border-radius: 8px;">
                                        <div class="x_title">
                                            <h2>METRICS</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <!--METRIC TABLE-->  
                                        <% for (var mes of data) { %> 
        
                                            <table id="datatable-fixed-header" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Metric Name</th>
                                                        <th>Description</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
        
        
                                                    <tr> 
                                                        
                                                        <td> <%= mes.metric_Name %> </td>
                                                        <td><%= mes.metric_Desc %> </td>
                                                        <td><form method="get" action="QualityMetrics">
                                                                <button type="submit" class="btn btn-primary">View Details</button>
                                                            </form></td> 
        
                                                    </tr>
        
        
                                                </tbody>
                                            </table> 
        
                                           
        
                                        <% } %>
                                            
        
                                        </div> 
                                    </div>
                                </div> 
        
                       
        
                                <!MEASUREMENTS>
                                <div class="col-md-12 col-sm-15 col-xs-15">
                                    <div class="x_panel" style=" border-radius: 8px;">
                                        <div class="x_title">
                                            <h2>MEASUREMENTS</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <!--MEASRUEMENTS-->  
                                        <% for (var meas of dataB) { %> 
                                            <% for (var targets of dataG) { %>
                                            
                                                <table id="datatable" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Measurement Name</th>
                                                        <th>Description</th> 
                                                        <th>Quality Target/s</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
        
        
                                                    <tr>
                                                        <td> <%= meas.measurement_Name %> </td>
                                                        <td><%= meas.measurement_Description %> </td> 
        
                                                        <td>
                                                            <% if (meas.measurement_ID == targets.measurementID) { %> 
                                                                <% if (targets.target_Type == 0) { %>
                                                                    <%= targets.target%> % <%= targets.target_Desc %>
                                                                <% } else if (targets.target_Type == 1) { %>
                                                                    <%= targets.target%> # <%= targets.target_Desc %>
                                                                <% } %>
                                                            <%  }  else { %> 
                                                                <!-- NONE WILL DISPLAY-->
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                                <form method="get" action="ViewMeasurementDetails">
                                                                        <input type="hidden" name="MID" value="<%= meas.measurement_ID %>">
                                                                        <input type="hidden" name="CID" value="<%= meas.cycle_ID %>">
                                                                        <button type="submit" class="btn btn-primary">View
                                                                            Details</button>
                                                                    </form>
                                                        </td>
                                                    </tr>
        
        
                                                </tbody>
                                            </table>
        
                                           
                                        
                                            
                                        <% } %>  
                                    <% } %>      
                                            
        
                                        </div>
                                    </div>
                                </div> 
        
                                <!ACTIVITIES>
                                <div class="col-md-12 col-sm-15 col-xs-15">
                                    <div class="x_panel" style=" border-radius: 8px;">
                                        <div class="x_title">
                                            <h2>ACTIVITIES</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                <!--ACTIVITIES-->   
                                                 
                                                <% for (var act of dataC) { %> 
                                                    <% if (current_user[0].Group == act.activity_Member) { %> 
    
                                                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true"> 
                                                            <!--ACTIVITIES PANEL-->
                                                                <div class="panel">
                                                                    <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne<%= act.activity_ID %>" aria-expanded="true" aria-controls="collapseOne<%= act.activity_ID %>">
                                                                        <h4 class="panel-title">
                                                                            <%= act.activity_ID %> - <%= act.activity_name %>
                                                                        </h4>
                                                                    </a> 
                                                                    <div id="collapseOne<%= act.activity_ID %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                                        <div class="panel-body"> 
    
                                                                            <div class="title_left">
    
                                                                                    <h2>Description:</h2> 
                                                                                    <h4><%= act.description %></h4>
                                                                                    <br>
                                                                                    <h2> Deadline </h2>
                                                                                    <h4><%= act.deadline.toString().substr(0, 15) %></h4>
                                                                                    <br> 
                                                                                    <form method="get" action="QualityMetrics">
                                                                                            <button type="submit" class="btn btn-primary">View Details</button>
                                                                                        </form>
                                                                                    <br>
                                                                                    <br>
    
                                                                            </div>
    
                                                                                <!--SUBMISSIONS PANEL-->
    
                                                                                <% for (var pending of dataF) { %> 
                                                                                
                                                                                <div class="panel">
                                                                                    <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#headingOne" href="#collapseTwo<%= pending.pending_ID %>" aria-expanded="false" aria-controls="collapseTwo<%= pending.pending_ID %>">
    
                                                                                        <h4 class="panel-title">
                                                                                            SUBMISSION # - <%= pending.pending_ID %>
                                                                                        </h4>
    
                                                                                    </a>
    
                                                                                    <div id="collapseTwo<%= pending.pending_ID %>" class="panel-collapse collpase" role="tabpanel" aria-labelledby="headingTwo">
    
                                                                                        <div class="panel-body">
                                                                                            <table id="datatable-responsive" class="table table-bordered" > 
                                                    
                                                                                                        <thead>
                                                                                                            <tr>
                                                                                                                <th>Activity Name</th>
                                                                                                                <th>Status</th> 
                                                                                                                <th>Suggested Score</th>
                                                                                                                <th>Date Updated</th>
                                                                                                                <th>Comments</th>
                                                                                                                <th>Document Name</th>>
                                                                                                                <th></th>
                                                                                                            </tr>
                                                                                                        </thead> 
                                                                                           
                                                                                                    <tbody>
                                                            
                                                                                                        <tr>
                                                                                                            <td> <%= pending.activity_name %> </td>
                                                                                                            <td><% if (pending.status == 0) { %> 
                                                                                                                    P E N D I N G
                                                                                                                <% } else if (pending.status == 1) { %>
                                                                                                                    A P P R O V E D 
                                                                                                                <% } else if (pending.status == 2) { %>
                                                                                                                    D I S A P P R O V E D
                                                                                                                <% } %>
                                                                                                            </td> 
                                                                                                            <td><%= pending.suggested_Score %></td>
                                                                                                            <td><%= pending.dateupdated.toString().substr(0, 15) %></td>
                                                                                                            <td><%= pending.comment %></td> 
                                                                                                            <td style="word-wrap: break-word;"><%= pending.Document_Name %></td>
                                                                                                             
                                                                                                            <td><form method="get" action="QualityMetrics">
                                                                                                                    <button type="submit" class="btn btn-primary">View Details</button>
                                                                                                                </form></td>
                                                                                                        </tr>
                                                    
                                                            
                                                                                                    </tbody>
                                                                                          
                                                                                                </table>
                                                                                        </div>
    
                                                                                    </div>
    
                                                                                </div>    
    
    
                                                                                
                                                                                <% } %>
                                                                            
                                                                        </div>
    
                                                                    </div>
                                                                </div>
                    
                                                        </div>
    
                                            <% } %>
    
                                     <% } %>
                                        </div>
                                    </div>
                                </div> 
                        </div> 

                <% } %>
                <!-- /page content -->

                <!-- footer content -->
                <footer style="border-radius: 8px; background-color: #232931;">
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>

        <!-- jQuery -->
        <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="assets/vendors/nprogress/nprogress.js"></script>
        <!-- Chart.js -->
        <script src="assets/vendors/Chart.js/dist/Chart.min.js"></script>
        <!-- gauge.js -->
        <script src="assets/vendors/gauge.js/dist/gauge.min.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="assets/vendors/iCheck/icheck.min.js"></script>
        <!-- Skycons -->
        <script src="assets/vendors/skycons/skycons.js"></script>
        <!-- Flot -->
        <script src="assets/vendors/Flot/jquery.flot.js"></script>
        <script src="assets/vendors/Flot/jquery.flot.pie.js"></script>
        <script src="assets/vendors/Flot/jquery.flot.time.js"></script>
        <script src="assets/vendors/Flot/jquery.flot.stack.js"></script>
        <script src="assets/vendors/Flot/jquery.flot.resize.js"></script>
        <!-- Flot plugins -->
        <script src="assets/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
        <script src="assets/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src="assets/vendors/flot.curvedlines/curvedLines.js"></script>
        <!-- DateJS -->
        <script src="assets/vendors/DateJS/build/date.js"></script>
        <!-- JQVMap -->
        <script src="assets/vendors/jqvmap/dist/jquery.vmap.js"></script>
        <script src="assets/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="assets/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="assets/vendors/moment/min/moment.min.js"></script>
        <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- FullCalendar -->
        <script src="assets/vendors/moment/min/moment.min.js"></script>
        <script src="assets/vendors/fullcalendar/dist/fullcalendar.min.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="assets/build/js/custom.min.js"></script> 

         <!-- Datatables -->
         <script src="assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
         <script src="assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
         <script src="assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
         <script src="assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
         <script src="assets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
         <script src="assets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
         <script src="assets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
         <script src="assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
         <script src="assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
         <script src="assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
         <script src="assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
         <script src="assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
         <script src="assets/vendors/jszip/dist/jszip.min.js"></script>
         <script src="assets/vendors/pdfmake/build/pdfmake.min.js"></script>
         <script src="assets/vendors/pdfmake/build/vfs_fonts.js"></script>

</body>

</html>
