  <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
              <a href="/home" class="site_title"><i class="fa fa-github"></i> <span>AccredIT</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile clearfix">
              <!--div class="profile_pic">
                  <img src="images/img.jpg" alt="..." class="img-circle profile_img">
              </div-->
              <div class="profile_info">
                  <span>Welcome,</span>
                  <% if(locals.current_user){ %>
                  <h2> <%= current_user[0].User_First %> <%= current_user[0].User_Last %> </h2>
                  <%}else{%>
                  <h2>John Doe</h2>
                  <%}%>
              </div>
          </div>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                  <h3>General</h3>
                  <ul class="nav side-menu">
                      <li><a><i class="fa fa-user"></i> User Managment <span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                              <li><a><i class="fa fa-user"></i> Users <span class="fa fa-chevron-down"></span></a>
                                  <ul class="nav child_menu">
                                    <% if (current_user[0].Role == 4 || current_user[0].Role == 3 || current_user[0].Role == 1) { %>
                                      <li><a href="/Viewusers">View Users</a></li>

                                      <li><a href="/Createusers">Create Users</a></li>

                                      <li><a>View Account (NO PAGE YET)</a></li>
                                    <% } %>
                                  </ul>
                              </li>
                              <li><a><i class="fa fa-users"></i> Groups <span class="fa fa-chevron-down"></span></a>
                                  <ul class="nav child_menu">
                                    <% if (current_user[0].Role == 4 || current_user[0].Role == 3 || current_user[0].Role == 1) { %>
                                      <li><a href="/ViewGroups">View Groups</a></li>
                                    <% if (current_user[0].Role == 3 || current_user[0].Role == 1) { %>
                                      <li><a href="/CreateGroup">Create Group</a></li>
                                    <% } %>

                                    <% } %>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <li><a><i class="fa fa-folder"></i> Ecidence Repository <span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <% if (current_user[0].Role == 4 || current_user[0].Role == 3 || current_user[0].Role == 1) { %>
                              <li><a href="/UploadDocument">Upload Documents</a></li>

                              <li><a href="/ViewDocument">View Documents</a></li>
                            <% } %>
                          </ul>
                      </li>
                      <li><a><i class="fa fa-check-square"></i> Quality Management <span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            
                                <% if (current_user[0].Role == 3 || current_user[0].Role == 1 || current_user[0].Role == 4) { %>
                                <li><a><i class="fa fa-users"></i> Sources <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                            <li><a href="/ViewSources">View Sources</a></li>
                                            <li><a href="/CreateSources">Create Sources</a></li>
                                    </ul>
                                </li>

                                <li><a><i class="fa fa-users"></i> Meetings (NO PAGES YET) <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                            <li><a>Create Meeting/s</a></li>
                                            <li><a>View Scheduled Meeting/s</a></li>
                                    </ul>
                                </li>

                                <li><a href="QualityMetric">Quality Metrics</a></li>

                                <li><a href="CheckingPage">Checking Page</a></li>

                                <li><a href="Viewcycle">View Cycles</a></li>
                                <% } %>
                                <% if ( current_user[0].Role == 4) { %>
                                <li><a>View Measurements</a></li>
                                <% } %>
                            
                          </ul>
                      </li>
                      <li><a><i class="fa fa-bars"></i> Other Pages <span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                              <li><a href="PreChecking">Pre-Checking Page of Reports</a></li>
                              <li><a href="FinalReport">Final Report For Group Leader</a></li>
                              <li><a href="Comparativeanalysis">Comparative Analysis</a></li>
                              
                              <li><a href="CreateGrades">Create Custom Grades</a></li>
                              
                              <li><a href="CreateArea">Create Area</a></li>
                              

                            <li><a href="/TestPage">BRIAN HERE IS THE TEST PAGE</a></li>
                              

                            
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                  <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                  <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="Logout">
                  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
          </div>
          <!-- /menu footer buttons -->
      </div>
  </div>

  <!-- top navigation -->
  <div class="top_nav">
      <div class="nav_menu">
          <nav>
              <div class="nav toggle">
                  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                  <li class="">
                      <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <% if(locals.current_user){ %>
                             <%= current_user[0].User_First %> <%= current_user[0].User_Last %>
                            <%}else{%>
                            John Doe
                            <%}%>
                          <span class=" fa fa-angle-down"></span>
                      </a>
                      <ul class="dropdown-menu dropdown-usermenu pull-right">
                          <br>
                          <li>
                                <form method="get" action="EditUserbyUser">
                                        <input type="hidden" name="UID" value="<%= current_user[0].User_ID %>">
                                            <button style="background: none; border: none; padding: 0; cursor: pointer; color: #000; margin-left: 20px;" type="submit" class="btn btn-primary">Edit Account</button><i style=" margin-right:20px" class="fa fa-edit pull-right"></i>
                                      </form>
                          </li>
                          
                          <li><a href="Logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                      </ul>
                  </li>

                  <li role="presentation" class="dropdown">
                      <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-envelope-o"></i>
                          <span class="badge bg-green">6</span>
                      </a>
                      <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                          <li>
                              <a>
                                  <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                  <span>
                                      <span>John Smith</span>
                                      <span class="time">3 mins ago</span>
                                  </span>
                                  <span class="message">
                                      Film festivals used to be do-or-die moments for movie makers. They were where...
                                  </span>
                              </a>
                          </li>
                          <li>
                              <a>
                                  <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                  <span>
                                      <span>John Smith</span>
                                      <span class="time">3 mins ago</span>
                                  </span>
                                  <span class="message">
                                      Film festivals used to be do-or-die moments for movie makers. They were where...
                                  </span>
                              </a>
                          </li>
                          <li>
                              <a>
                                  <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                  <span>
                                      <span>John Smith</span>
                                      <span class="time">3 mins ago</span>
                                  </span>
                                  <span class="message">
                                      Film festivals used to be do-or-die moments for movie makers. They were where...
                                  </span>
                              </a>
                          </li>
                          <li>
                              <a>
                                  <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                  <span>
                                      <span>John Smith</span>
                                      <span class="time">3 mins ago</span>
                                  </span>
                                  <span class="message">
                                      Film festivals used to be do-or-die moments for movie makers. They were where...
                                  </span>
                              </a>
                          </li>
                          <li>
                              <div class="text-center">
                                  <a>
                                      <strong>See All Alerts</strong>
                                      <i class="fa fa-angle-right"></i>
                                  </a>
                              </div>
                          </li>
                      </ul>
                  </li>
              </ul>
          </nav>
      </div>
  </div>
  <!-- /top navigation -->