<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pre-Checking Reports Page</title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="assets/vendors/pnotify/pnotify.custom.min.css" media="all" rel="stylesheet" type="text/css" />

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet">
</head>


<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <%- include ./nav.ejs %>
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">

                            <h3>Pre-Checking Reports Page</h3>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <br />


                                <div class="col-md-12 col-sm-6 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2><i class="fa fa-align-left"></i>Reports</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">

                                            <!-- start accordion    -->
                                            <% for (var plan of dataB) { %>
                                            <div class="accordion" id="accordion" role="tablist"
                                                aria-multiselectable="true">
                                                <div class="panel">
                                                    <a class="panel-heading" role="tab" id="headingOne"
                                                        data-toggle="collapse" data-parent="#accordion"
                                                        href="#collapse<%= plan.Plan_ID %>" aria-expanded="true"
                                                        aria-controls="collapse<%= plan.Plan_ID %>">
                                                        <h4 class="panel-title">
                                                            PLAN NAME: <%= plan.PlanName %>
                                                        </h4>
                                                    </a>
                                                    <div id="collapse<%= plan.Plan_ID %>"
                                                        class="panel-collapse collapse" role="tabpanel"
                                                        aria-labelledby="headingOne">

                                                        <% for (var report of data) { %>
                                                        <% if (plan.Plan_ID == report.Plan_ID) { %>
                                                        <div class="panel-body">
                                                            <!--Group 1 table-->

                                                            <div class="panel">
                                                                <a class="panel-heading" role="tab" id="HeadGroupOne"
                                                                    data-toggle="collapse" data-parent="#headingOne"
                                                                    href="#Collapse<%= report.Submission_ID %>"
                                                                    aria-expanded="true"
                                                                    aria-controls="Collapse<%= report.Submission_ID %>">
                                                                    <h3 class="panel-title">
                                                                        <%= report.Submission_Title %> - SUBMITTED BY:
                                                                        <%= report.User_First %>

                                                                    </h3>
                                                                </a>
                                                                <div id="Collapse<%= report.Submission_ID %>"
                                                                    class="collapse">


                                                                    <table class="table table-bordered">

                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Plan Name: </td>
                                                                                <td><%= report.PlanName %></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Report Title: </td>
                                                                                <td><%= report.Submission_Title %></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Report Description: </td>
                                                                                <td><%= report.Submission_Description %></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Evidence: </td>
                                                                                <a href="<%= report.Submission_File %>" download></a>
                                                                                <td><a href="<%= report.Submission_File %>" download><%= report.Submission_File %></a></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Submitted By: </td>
                                                                                <td><%= report.User_First %></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Comments: </td>
                                                                                <td>
                                                                                    <div class="form-group">

                                                                                        <textarea class="form-control"
                                                                                            rows="3" id="Measurement"
                                                                                            name="QualityTarget"
                                                                                            placeholder="Quality Target"
                                                                                            onkeyup="textAreaAdjust(this)"
                                                                                            style="overflow:hidden"></textarea>

                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Select Status: </td>
                                                                                <td>
                                                                                    <div class="form-group">

                                                                                        <select class="form-control"
                                                                                            name="role">
                                                                                            <option value="-1">Choose
                                                                                                Role...</option>
                                                                                            <option
                                                                                                value="For Checking">
                                                                                                Approve</option>
                                                                                            <option value="Rejected">
                                                                                                Rejected</option>

                                                                                        </select>

                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td>
                                                                                    <button class="btn btn-primary"
                                                                                        type="submit">Submit </button>
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>

                                                                    </table>



                                                                </div>

                                                            </div>
                                                        </div>
                                                        <% } %>
                                                        <% } %>
                                                        <!--End of Group 1 Table -->


                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                        </div>

                                        <!-- end of accordion -->



                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!Script for dynamic text area>
        <script>
            function textAreaAdjust(o) {
                o.style.height = "1px";
                o.style.height = (25 + o.scrollHeight) + "px";
            }
        </script>

        <!-- jQuery -->
        <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
        <script src="assets/vendors/pnotify/dist/pnotify.js"></script>
        <script src="assets/vendors/pnotify/dist/PNotifyButtons.js"></script>

        <!-- NProgress -->
        <script src="assets/vendors/nprogress/nprogress.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="assets/vendors/iCheck/icheck.min.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="assets/vendors/moment/min/moment.min.js"></script>
        <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- bootstrap-wysiwyg -->
        <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
        <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
        <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
        <!-- jQuery Tags Input -->
        <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
        <!-- Switchery -->
        <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
        <!-- Select2 -->
        <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
        <!-- Parsley -->
        <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
        <!-- Autosize -->
        <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
        <!-- jQuery autocomplete -->
        <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
        <!-- starrr -->
        <script src="assets/vendors/starrr/dist/starrr.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="assets/build/js/custom.min.js"></script>

</body>

</html>