<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Review Evidences and Progress Page </title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
</head>

<body class="nav-md" style="background-color: #232931;">
    <div class="container body">
        <div class="main_container" style="background-color: #232931;">
            <%- include ./nav.ejs %>
            <!-- page content -->
            <div class="right_col" role="main" style="background-color: #232931;">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3 style="color: #dddddd;">Review Evidences and Progress Page</h3>
                            <a class="btn btn-primary" href="/QualityMetrics">Go Back Goals</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel" style="background-color: #eeeeee; border-radius: 8px;">
                            <div class="x_content">

                                <!-- start accordion -->
                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <% for(var goal of dataGoal) { %>
                        <div class="panel">
                          <a class="panel-heading" role="tab" id="heading<%= goal.metric_ID %>" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= goal.metric_ID %>" aria-expanded="true" aria-controls="collapse<%= goal.metric_ID %>">
                            <h4 class="panel-title"><%= goal.metric_Name %></h4>
                          </a>
                          <div id="collapse<%= goal.metric_ID %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= goal.metric_ID %>">
                            <div class="panel-body">
                              <table class="table table-bordered">
                                <thead>
                                    <th>MeasurementID</th>
                                    <th>Measurement</th>
                                    <th>Description</th>
                                    
                                    <th>Quality Target</th>
                                    <th>Progress</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <% for (var cycle of dataCycle) { %>
                                        <% for (var measurement of data) { %> 
                                            <% if(cycle.goal_ID == goal.metric_ID && measurement.cycle_ID == cycle.cycle_ID) { %>
                                                <tr>
                                                    <td><%= measurement.measurement_ID %></td>
                                                    <td><%= measurement.measurement_Name %></td>
                                                    <td><%= measurement.measurement_Description %></td>
                                                    <td>
                                                        <% for(var targets of dataB) { %>
                                                            <% if(targets.measurementID == measurement.measurement_ID) { %>
                                                                <%= targets.target %>
                                                                <% if (targets.target_Type == 0) { %>
                                                                %
                                                                <% } %> 
                                                                - <%= targets.target_Desc %> <br>
                                                            <% } %>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                            <% for(var targets of dataB) { %>
                                                                <% if(targets.measurementID == measurement.measurement_ID) { %>
                                                                    <% if (targets.progress == null) { %> 
                                                                        No Progress <br>
                                                                    <% } else { %> 
                                                                        <%= targets.progress %>
                                                                        <% if (targets.target_Type == 0) { %>
                                                                        %
                                                                        <% } %> <br>
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>
                                                        </td>
                                                    <td>
                                                        <form method="GET" action="ProgressDetailsPage">
                                                            <input type="hidden" name="MID" id="MID" value="<%= measurement.measurement_ID %>">
                                                            <button class="btn btn-primary">Review Evidence</button>
                                                        </form>
                                                    </td>             
                                                </tr>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          
                          <% } %>

                        </div>
                        
                      </div>
                      <!-- end of accordion -->
                               
                                
                                <!--table class="table table-bordered">
                                    <thead>
                                        <th>MeasurementID</th>
                                        <th>Measurement</th>
                                        <th>Description</th>
                                        
                                        <th>Quality Target</th>
                                        <th>Progress</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <% for (var measurements of data) { %>
                                            
                                        <tr>
                                            <td><%= measurements.measurement_ID %></td>
                                            <td><%= measurements.measurement_Name %></td>
                                            <td><%= measurements.measurement_Description %></td>
                                           
                                            <td>
                                                <% for(var targets of dataB) { %>
                                                    <% if(targets.measurementID == measurements.measurement_ID) { %>
                                                        <%= targets.target %>
                                                        <% if (targets.target_Type == 0) { %>
                                                        %
                                                        <% } %> 
                                                        - <%= targets.target_Desc %> <br>
                                                    <% } %>
                                                <% } %>
                                            </td>
                                            <td>
                                                    <% for(var targets of dataB) { %>
                                                        <% if(targets.measurementID == measurements.measurement_ID) { %>
                                                            <% if (targets.progress == null) { %> 
                                                                No Progress <br>
                                                            <% } else { %> 
                                                                <%= targets.progress %>
                                                                <% if (targets.target_Type == 0) { %>
                                                                %
                                                                <% } %> <br>
                                                            <% } %>
                                                        <% } %>
                                                    <% } %>
                                                </td>
                                            <td>
                                                <form method="GET" action="ProgressDetailsPage">
                                                    <input type="hidden" name="MID" id="MID" value="<%= measurements.measurement_ID %>">
                                                    <button class="btn btn-primary">Review Evidence</button>
                                                </form>
                                            </td>                                            
                                        </tr>
                                        
                                        <% } %>
                                    </tbody>
                                </table-->
                                
                            </div>
                        </div>
                    </div>
                </div>


                <!-- /page content -->

                <!-- footer content -->
                <footer style="border-radius: 8px; background-color: #232931;">
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $(".addEvidence").click(function test() {

                    //alert("testing adding activities");
                    var PID = $("#PID").val();
                    var evidences = $("#evidences").val();

                    var evidenceID = evidences.substr(0, evidences.indexOf('~'));
                    var evidenceName = evidences.substr(evidences.lastIndexOf('~') + 1);
                    console.log(evidenceID);
                    console.log(evidenceName);
                    //console.log(activityName);
                    var markup = "<tr><td '>" + PID + "</td><td>" + evidenceName +
                        "</td><td><input type='file' name='DocFile' id='DocFile'></td><td><button type='button' class='delete-row' onclick='deleteRow(this)'>Remove</button></td><td>" +
                        evidenceID + "</td></tr>";
                    var table = document.getElementById("updateTable")
                    $(table).append(markup);
                });

                function submit_ID(id){
                    alert(id);
                }

            });
        </script>

        <!Script for dynamic text area>
            <script>
                function textAreaAdjust(o) {
                    o.style.height = "1px";
                    o.style.height = (25 + o.scrollHeight) + "px";
                }
            </script>

            <!-- jQuery -->
            <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- FastClick -->
            <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
            <!-- NProgress -->
            <script src="assets/vendors/nprogress/nprogress.js"></script>
            <!-- bootstrap-progressbar -->
            <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
            <!-- iCheck -->
            <script src="assets/vendors/iCheck/icheck.min.js"></script>
            <!-- bootstrap-daterangepicker -->
            <script src="assets/vendors/moment/min/moment.min.js"></script>
            <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
            <!-- bootstrap-wysiwyg -->
            <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
            <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
            <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
            <!-- jQuery Tags Input -->
            <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
            <!-- Switchery -->
            <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
            <!-- Select2 -->
            <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
            <!-- Parsley -->
            <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
            <!-- Autosize -->
            <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
            <!-- jQuery autocomplete -->
            <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
            <!-- starrr -->
            <script src="assets/vendors/starrr/dist/starrr.js"></script>
            <!-- Custom Theme Scripts -->
            <script src="assets/build/js/custom.min.js"></script>

</body>

</html>