<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Quality Metrics Page</title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet" />
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet" />
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    
    <!-- Datatables -->
    <link href="assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet" />
    

    <!-- jQuery -->
    <script src="assets/vendors/jquery/dist/jquery.min.js"></script>


</head>

<% if(locals.notif){%>
<%if(notif.goodStatus == 0){%>
<div class="alert">
    <span class="closebtn">&times;</span>
    <%= notif.msg %>
</div>
<%}else if(notif.goodStatus == 1) {%>
<div class="alert success">
    <span class="closebtn">&times;</span>
    <%= notif.msg %>
</div>
<%}else if(notif.goodStatus == 2){%>
<div class="alert">
    <span class="closebtn">&times;</span>
    <%= notif.msg %>
</div>
<%}else{%>
<div class="alert">
    <span class="closebtn">&times;</span>
    <%= notif.msg %>
</div>
<%}%>
<%}%>
<style>
    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
    }

    .alert.success {
        background-color: #4CAF50;
    }

    .alert.info {
        background-color: #2196F3;
    }

    .alert.warning {
        background-color: #ff9800;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }

    ul.panel-collapse, ul.panel-collapse ul {
    list-style: none;
     margin: 0;
     padding: 0;
   } 
   ul.panel-collapse ul {
     margin-left: 10px;
   }
   ul.panel-collapse li {
     margin: 0;
     padding: 0 7px;
     line-height: 20px;
     color: #369;
     font-weight: bold;
     border-left:1px solid rgb(100,100,100);

   }
   ul.panel-collapse li:last-child {
       border-left:none;
   }
   ul.panel-collapse li:before {
      position:relative;
      top:-0.3em;
      height:1em;
      width:15px;
      color:white;
      border-bottom:1px solid rgb(100,100,100);
      content:"";
      display:inline-block;
      left:-7px;
   }
   ul.panel-collapse li:last-child:before {
      border-left:1px solid rgb(100,100,100);   
   }

   .panel-body{
       background-color: #F1F5F8;
   }

    th, td {
        border-bottom: 1px solid #ddd;
    }

</style>


<body class="nav-md" style="background-color: #232931;">
    <div class="container body">
        <div class="main_container" style="background-color: #232931;">
            <%- include ./nav.ejs %>
<!-- page content -->
<div class="right_col" role="main" style="background-color: #232931;">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3 style="color: #dddddd;">Quality Management</h3>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="background-color: #393e46; border-color: #393e46; border-radius: 8px;">
                <div class="x_content">

                    <!--MODAL FOR CYCLE CREATION-->
                    <div class="modal fade createCycle" id="my_modalCYCLE">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal2" value="Edit">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title">Create Cycle</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" id="gid" name="gid" class="form-control col-md-7 col-xs-12" />

                                    <label for="cycleName">Goal Duration(in years):<span class="required">*</span>
                                    </label>
                                    <div>
                                        <input type="number" id="yearNum" name="yearNum" required="required" class="form-control col-md-7 col-xs-12" placeholder="(ex.5)" />
                                    </div>
                                    <br>
                                    <label for="cycleName">Terms Per Year:<span class="required">*</span>
                                    </label>
                                    <div>
                                        <input type="number" id="termNum" name="termNum" required="required" class="form-control col-md-7 col-xs-12" placeholder="(ex.5)" />
                                    </div>
                                    <br>
                                    <button type="button" class="btn btn-default add-row-cycles">Add</button>

                                    <table class="table table-bordered" id="tableCycles">
                                        <thead>
                                            <th>Cycle Name</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th style='display: none;'>Term</th>
                                            <th style="display: none;">TotalTerm</th>
                                            <th style="display: none;">GoalID</th>
                                            <th style="display: none;">StartDate</th>
                                            <th style="display: none;">EndDate</th>
                                            <th style="display: none;">Index</th>
                                            
                                        </thead>
                                    </table>


                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Close
                                        </button>
                                        <!SUBMIT BUTTON TO JSON HERE>
                                            <button type="button" class="btn btn-success" id="toJSONCycles">SUBMIT</button>
                                            <!--button type="button" class="btn btn-success" id="checkTotal">SUBMIT</button-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!------------------------------------------END OF CREATE CYCLE MODAL------------------------------------------------------------->

                    <!--CREATE MEASUREMENTS MODAL-->
                    <div class="modal fade-in createMeasurement" id="my_modalCreateMeasures">
                        <div class="modal-dialog modal-lg2">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal3">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="ModalLabel1">
                                        Create
                                        Measurements
                                    </h4>
                                </div>
                                <div class="modal-body">


                                    <!--Measurement Name input field-->

                                    <label for="MeasurementName">
                                        Measurement
                                        Name: <span class="required">*</span></label>
                                    <!--Edited-->

                                    <input type="text" id="MeasurementName" name="MeasurementName" required="required" class="form-control col-md-7 col-xs-12" placeholder="Measurment Name">

                                    <br>

                                    <!--Measurement Description field-->

                                    <label for="MeasurementDesc">Measurement
                                        Description:
                                        <!--Edited-->
                                        <span class="required">*</span></label>

                                    <textarea class="form-control" rows="3" id="MeasurementDesc" name="MeasurementDesc" placeholder="Measurement Description" required="required" onkeyup="textAreaAdjust(this)" style="overflow:hidden"></textarea>
                                    <br>
                                   
                                     <!--Assign Priority field-->

                                    <label for="MeasurementDesc">Priority Level:
                                        <!--Edited-->
                                        <span class="required">*</span></label>

                                    <select class="form-control" name="priority" id="priority" required="required">
                                        <option value="1">High Priority</option>
                                        <option value="2">Medium Priority</option>
                                         <option value="3">Low Priority</option>
                                    </select>
                                    <br>
                                     <!--Assign Cycle To End>
                                    <label for="MeasurementDesc">Cycle to End:
                                        <!--Edited>
                                        <span class="required">*</span></label>

                                    <select class="form-control" name="cycleID" id="cycleID" required="required">
                                        
                                        
                                        
                                        
                                        
                                        
                                    </select-->
                                    <br>
                                    <!--Quality Target Input field-->

                                    
                                    <div id="newInp">
                                        <label for="Assign Goal">Quality
                                        Target:</label>
                                        <input type="number" id="QualityTarget" name="QualityTarget" required="required" size="1" maxlength="3" min="1" max="100"><br> 
                                        <label for="Assign Goal">
                                            Target Description:</label>
                                            <br>
                                            <textarea type="text" id="targetDesc" name="targetDesc" maxlength="70" required="required"></textarea>
                                            <br>
                                        <input type="checkbox" id="Percent" value="%"> Percent<br>
                                        <button type="button" class="btn btn-default add-row-target">+</button>
                                    </div>



                                    
                                        <table class="table table-bordered" name="TargetT" id="TargetT">
                                            <thead>
                                                <tr>
                                                    <th>Targets</th>
                                                    <th>Type</th>
                                                    <th>Target Description</th>
                                                    <th></th>
                                                    <th style="display:none;">targettype</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tBody">
                                            </tbody>
                                        </table>
                                    <!--Goal ID input field-->
                                    <div class="form-group">
                                        <!--<label for="GoalID" class="control-label col-md-3 col-sm-3 col-xs-12" >
                                                Goal ID: <span class="required">*</span></label>-->
                                        <!--Edited-->
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            
                                            <input type="hidden" id="GoalID" name="GoalID" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-primary" id="toJSON">
                                            Submit
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------END OF CREATE MEASUREMENT MODAL------------------------------------------------------>

                    
                                <div class="col-md-12 col-sm-6 col-xs-12" style="background-color: #393e46; border-color: #393e46; border-radius: 8px;">

                                    <div class="x_content">
                                        <!BUTTONS FOR CREATE OF GOALS AND CYCLE TIME>
                                        <% if (current_user[0].Role == 1 || current_user[0].Role == 2 || current_user[0].Role == 3) { %>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".createGoals">Create Goals</button>
                                        <% } %>
                                            <% for (var goals of data) { %>


                                            <!-- start accordion -->
                                            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                                <!-- FIRST PANEL FOR GOALS -->
                                                <div class="panel" style="background-color: #C0C0C0; border-color: #C0C0C0; border-radius: 8px; color: black">
                                                    <li class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne<%= goals.metric_ID %>" aria-expanded="true" aria-controls="collapseOne<%= goals.metric_ID %>" >
                                                        <h4 class="panel-title"> <span class="fa fa-chevron-down"></span> <%= goals.metric_ID %> - <%= goals.metric_Name %>
                                                        </h4>
                                                    </li>
                                                    <ul id="collapseOne<%= goals.metric_ID %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <!--BUTTON AND MODAL FOR CREATION CYCLES -->
                                                            <% if (current_user[0].Role == 1 || current_user[0].Role == 2 || current_user[0].Role == 3) { %>
                                                                <%if (goals.cycle_Created==0){%>
                                                                    <button class="btn btn-primary" href="#my_modalCYCLE" data-toggle="modal" data-book-id="<%= goals.metric_ID %>" >Create Cycles</button>
                                                                <%}else{%>
                                                                    <button class="btn btn-primary" href="#my_modalCYCLE" data-toggle="modal" data-book-id="<%= goals.metric_ID %>" style="display: none;">Create Cycles</button>
                                                                <%}%>
                                                            <% } %>
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Goal Description</th>
                                                                        
                                                                        <th>Goal Source</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <td><%= goals.metric_Desc%></td>

                                                                    
                                                                    <td>
                                                                        <% for (var source of dataH) { %>
                                                                        <% if (source.source_ID == goals.source_ID) { %>
                                                                        <%= source.source_Name %> -
                                                                        <% } %>
                                                                        <% } %>
                                                                        <%= goals.source_Type%>
                                                                    </td>
                                                                </tbody>
                                                            </table>

                                                            
                                                            



                                                            <!-- SECOND PANEL FOR CYCLES-->
                                                            
                                                            <% for (var cycles of dataD) { %>
                                                            <% for (var measurementcount of dataK) { %> 
                                                            <% if (cycles.goal_ID == goals.metric_ID && cycles.cycle_ID == measurementcount.cycle_ID) { %>

                                                                
                                                            
                                                            <ul>
                                                                <li class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#headingOne" href="#collapseTwo<%= cycles.cycle_ID %>" aria-expanded="false" aria-controls="collapseTwo<%= cycles.cycle_ID %>" style="color: black"> <span class="fa fa-chevron-down"></span>
                                                                    
                                                                        Cycle Name - <%= cycles.cycle_Name %> - Status:
                                                                        <% if ( cycles.status == 0) { %> Planning Phase
                                                                        <% } else if( cycles.status  == 1) { %> Do Phase
                                                                        <% } else if( cycles.status  == 2) { %> Check
                                                                        Phase
                                                                        <% } else if( cycles.status  == 3) { %> Act Phase
                                                                        <% } else if( cycles.status  == 4) { %> Cycle
                                                                        Ended<% } %><br>
                                                                        <span class="fa fa-angle-right"></span>Cycle Duration: <%= cycles.start_Date.toString().substr(0, 15) %> - <%= cycles.end_Date.toString().substr(0, 15) %>
                                                                    <% var endDate = cycles.end_Date %>
                                                                    <% var date = new Date(); %>
                                                                    <% var dateNow = new Date(date.getFullYear(), date.getMonth(), date.getDate()); %>
                                                                    <% var Difference_In_Time = endDate.getTime() - dateNow.getTime(); %>
                                                                    <% var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24); %>
                                                                    <% if (Difference_In_Days > 0) { %>
                                                                        <!--<br><span class="fa fa-angle-right"></span>DAYS TILL CYCLE ENDS : <//%= Difference_In_Days %><br>-->
                                                                    <% } else { %>
                                                                        <!--<br><span class="fa fa-angle-right"></span>Cycle ended on: <br>-->
                                                                    <% } %>
                                                                    <% if (measurementcount.cycle_ID == cycles.cycle_ID) { %>
                                                                        <br><span class="fa fa-angle-right"></span># of Active Measurements: <%= measurementcount.MeasurementCount %> 
                                                                    <% } %>
                                                                    
                                                                    </li>
                                                                <div id="collapseTwo<%= cycles.cycle_ID %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                                    <div class="panel-body" style="background-color: #393e46; border-color: #393e46; border-radius: 8px; color: black;">
                                                                        <% if (current_user[0].Role == 1 || current_user[0].Role == 2 || current_user[0].Role == 3) { %>
                                                                        <% if(cycles.status  == 0) { %>
                                                                        <form action="doPhase" method="post">
                                                                            <input type="hidden" name="CID" value="<%= cycles.cycle_ID %>">
                                                                            <button class="btn btn-default" type="submit">Start Do Phase</button>
                                                                        </form>

                                                                        

                                                                        <!--BUTTON FOR CALLING MODAL OF CREATE MEASUREMENT-->
                                                                        <button class="btn btn-primary" href="#my_modalCreateMeasures" data-toggle="modal" data-book-id="<%=cycles.cycle_ID%>" data-book-id2="<%=cycles.goal_ID%>">Create
                                                                            Measurement</button>

                                                                        <% } else if (cycles.status  == 1) { %>
                                                                        <form action="checkPhase" method="post">
                                                                            <input type="hidden" name="CID" value="<%= cycles.cycle_ID %>">
                                                                            <button class="btn btn-default" type="submit">Start Check Phase</button>

                                                                        </form>

                                                                        <form action="planPhase" method="post">
                                                                            <input type="hidden" name="CID" value="<%= cycles.cycle_ID %>">
                                                                            <button class="btn btn-default" type="submit">Back to Plan Phase</button>

                                                                        </form>

                                                                        <a href="/CheckingAccordionPage" class="btn btn-default">Check Submissions</a>
                                                                        <% } else if (cycles.status  == 2) { %>
                                                                        <form action="actPhase" method="post">
                                                                            <input type="hidden" name="CID" value="<%= cycles.cycle_ID %>">
                                                                            <button class="btn btn-default" type="submit">Start Act Phase</button>

                                                                        </form>

                                                                        <form action="doPhase" method="post">
                                                                            <input type="hidden" name="CID" value="<%= cycles.cycle_ID %>">
                                                                            <button class="btn btn-default" type="submit">Back to Do Phase</button>
                                                                        </form>

                                                                        <% } else if (cycles.status  == 3) { %>
                                                                        <form action="endPhase" method="post">
                                                                            <input type="hidden" name="CID" value="<%= cycles.cycle_ID %>">
                                                                            <button class="btn btn-default" type="submit">End Cycle</button>

                                                                        </form>
                                                                        <form action="checkPhase" method="post">
                                                                            <input type="hidden" name="CID" value="<%= cycles.cycle_ID %>">
                                                                            <button class="btn btn-default" type="submit">Back to Check Phase</button>
                                                                        </form>

                                                                        <!--BUTTON FOR CALLING MODAL OF CREATE MEASUREMENT-->
                                                                        <button class="btn btn-primary" href="#my_modalCreateMeasures" data-toggle="modal" data-book-id="<%=cycles.cycle_ID%>" data-book-id2="<%=cycles.goal_ID%>">Create
                                                                            Measurement</button>
                                                                        <% } %>
                                                                        <% } %>



                                                                        


                                                                        <!-- MEASUREMENTS LOOP PART-->

                                                                        <table id="" class="display" style="background-color: white; height: 100%; width: 100%;">

                                                                            <thead>

                                                                                <tr>
                                                                                    <th>ID</th>
                                                                                    <th>Measurement Name</th>
                                                                                    <th>Measurement Description</th>
                                                                                    <th>Priority Level</th>
                                                                                    <th>Quality Target</th>
                                                                                    <% if (cycles.status == 4 || cycles.status == 3) { %>
                                                                                        <th>Progress</th>
                                                                                        <th></th>
                                                                                        <th></th>
                                                                                    <% } else { %>
                                                                                    <th># of Activities</th>
                                                                                    <th></th>
                                                                                    
                                                                                    <% } %>
                                                                                    
                                                                                    
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody> 
                                                                                <!--TERMLY REPORT VIEW-->
                                                                                <% if (cycles.status == 4 && cycles.termindex != cycles.totalterm) { %>
                                                                                    <% for (var measure_audit of dataI) { %>
                                                                                        <% if (measure_audit.cycle_ID == cycles.cycle_ID) { %>
                                                                                            <tr>
                                                                                            <td><%= measure_audit.measurement_ID %>
                                                                                            </td>
                                                                                            <td><%= measure_audit.measurement_Name %>
                                                                                            </td>
                                                                                            <td>
                                                                                                 <!-- VIEW TERM REPORT BUTTON-->
                                                                                            <form id="categorizeactivities" method="post" action="CategorizeActivities">
                                                                                                <input type="hidden" name="CID" value="<%= cycles.cycle_ID %>">
                                                                                                <button type="submit" class="btn btn-primary" form="categorizeactivities"> View Term Report</button>
                                                                                            </form>
                                                                                            </td>
                                                                                                <td style="display: none;"></td>
                                                                                        </tr>
                                                                                        <% } %>
                                                                                    <% } %> 
                                                                                    <!--ANNUAL REPORT-->
                                                                                <% } else if (cycles.status == 4 && cycles.termindex == cycles.totalterm) { %> 
                                                                                    <% for (var measure_audit of dataI) { %>
                                                                                        <% if (measure_audit.cycle_ID == cycles.cycle_ID) { %>
                                                                                            <tr>
                                                                                            <td><%= measure_audit.measurement_ID %>
                                                                                            </td>
                                                                                            <td><%= measure_audit.measurement_Name %>
                                                                                            </td>
                                                                                            <td>
                                                                                                <!-- VIEW TERM REPORT BUTTON-->
                                                                                            <form id="categorizeactivities" method="get" action="CategorizeActivities">
                                                                                                <input type="hidden" name="CID" value="<%= cycles.cycle_ID %>">
                                                                                                <button type="submit" class="btn btn-primary" form="categorizeactivities"> View Term Report</button>
                                                                                            </form>
                                                                                                <!--VIEW ANNUAL REPORT BUTTON-->
                                                                                            <form id="annualreport" method="post" action="AnnualReport">
                                                                                                    <input type="hidden" name="MID" value="<%= measure_audit.measurement_ID %>">
                                                                                                    <button type="submit" class="btn btn-primary" form="annualreport">View Annual Report</button> 
                                                                                                </form>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <% } %>
                                                                                    <% } %>
                                                                                <% } else { %>
                                                                                <% for (var measurement of dataE) { %>
                                                                                    <% for (var activitycount of dataL) { %>
                                                                                <% if (measurement.cycle_ID == cycles.cycle_ID && activitycount.measurement_ID == measurement.measurement_ID) { %>
                                                                                <tr>

                                                                                    <td><%= measurement.measurement_ID %>
                                                                                    </td>
                                                                                    <td><%= measurement.measurement_Name %>
                                                                                    </td>
                                                                                    <td><%= measurement.measurement_Description %>
                                                                                    </td> 
                                                                                    <%if(measurement.priority_Level==1){%>
                                                                                        <td><%= measurement.priority_Level %> - High</td>
                                                                                    <%}else if(measurement.priority_Level==2){%>
                                                                                        <td><%= measurement.priority_Level %> - Medium</td>
                                                                                    <%}else if(measurement.priority_Level==3){%>
                                                                                        <td><%= measurement.priority_Level %> - Low</td>
                                                                                    <%}%>
                                                                                    <td>
                                                                                        <% for (var targets of dataF) { %>
                                                                                        <% if (targets.measurementID == measurement.measurement_ID) { %>
                                                                                        <%= targets.target %>
                                                                                        <% if (targets.target_Type == 0) { %>
                                                                                        %
                                                                                        <% } else { %>
                                                                                        #
                                                                                        <% } %> 
                                                                                        - <%= targets.target_Desc %> <br>
                                                                                        <% } %>

                                                                                        <% } %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <% if (measurement.measurement_ID == activitycount.measurement_ID) { %>
                                                                                            <%= activitycount.ActivityCount %>
                                                                                        <% } %>
                                                                                    </td>
                                                                                    <% if (cycles.status == 3) { %>
                                                                                    <td>
                                                                                        <% for (var targets of dataF) { %>
                                                                                            <% if (targets.measurementID == measurement.measurement_ID) { %>
                                                                                            <%= targets.progress %>
                                                                                            
                                                                                            <br>
                                                                                            <% } %>
    
                                                                                        <% } %>
                                                                                    </td>
                                                                                    <% } %>
                                                                                    <td>
                                                                                        <!--VIEW MEASUREMENT BUTTON-->
                                                                                        <form method="get" action="ViewMeasurementDetails">
                                                                                            <input type="hidden" name="MID" value="<%= measurement.measurement_ID %>">
                                                                                            <input type="hidden" name="CID" value="<%= measurement.cycle_ID %>">
                                                                                            <button type="submit" class="btn btn-primary">View
                                                                                                Measurement
                                                                                                Details</button>
                                                                                        </form>
                                                                                        <% if (current_user[0].Role == 1 || current_user[0].Role == 2 || current_user[0].Role == 3) { %>
                                                                                            <% if (cycles.status == 0) { %>
                                                                                                <!--EDIT MEASUREMENT BUTTON PLAN PHASE-->
                                                                                                <form method="get" action="EditMeasurement">
                                                                                                    <input type="hidden" name="MID" value="<%= measurement.measurement_ID %>">
                                                                                                    <input type="hidden" name="CASE" value="0">
                                                                                                    <button type="submit" class="btn btn-primary">Edit
                                                                                                        Measurement
                                                                                                        Details</button>
                                                                                                </form>
                                                                                                <% } else if (cycles.status == 3) { %>
                                                                                                <!--EDIT BUTTON ACTION PHASE-->
                                                                                                <form method="get" action="EditMeasurement">
                                                                                                    <input type="hidden" name="GID" value="<%= cycles.goal_ID %>">
                                                                                                    <input type="hidden" name="MID" value="<%= measurement.measurement_ID %>">
                                                                                                    <input type="hidden" name="CASE" value="1">
                                                                                                    <button type="submit" class="btn btn-primary">Edit
                                                                                                        Measurement and Move to next cycle </button>
                                                                                                </form>
                                                                                                <% } %>    
                                                                                        <% } %>
                                                                                    </td>
                                                                                </tr>
                                                                                <% } %>
                                                                                <% } %>
                                                                                <% } %>
                                                                                <% } %>
                                                                            </tbody>
                                                                        </table>


                                                                    </div>
                                                                
                                                            </div>
                                                            </ul>
                                                            <% } %>
                                                            <% } %>
                                                            <% } %>

                                                        </div>
                                                    </div>
                                                </ul>

                                            </div>
                                            <!-- end of accordion -->

                                            <% } %>

                                    </div>

                                </div>
                                </div>
                                </div>
                        </div>
                </div>


                <!-- /page content -->

                <!-- footer content -->
                <footer style="background-color: #232931;">
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by
                        <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    
                </footer>
                <!-- /footer content -->




                <!--Modal for Create Goals -->
                <div class="modal fade createGoals" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel2">
                                    Create Goals
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form id="CreateGoals" data-parsley-validate class="form-horizontal form-label-left" action="addmetric" method="POST">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Source:<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" name="source">
                                                <% for (var source of dataB) { %>
                                                <%for (var sourcetype of dataG) { %>
                                                <% if (source.source_ID==sourcetype.stype_ID){ %>
                                                <option value="<%= source.source_ID %>~<%= sourcetype.SourceType%>">
                                                    <%= source.source_Name %>-<%= sourcetype.SourceType%></option>
                                                <%}%>
                                                                            <%}%>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Goal
                                            Name<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="Name" name="metricName" required="required" class="form-control col-md-7 col-xs-12" placeholder="Name" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Goal
                                            Description<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea type="text" id="metricDesc" name="metricDesc" required="required" class="form-control col-md-7 col-xs-12" placeholder="Goal Description"></textarea>
                                        </div>
                                    </div>
                                   
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-primary" onclick="test1()" form="CreateGoals">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $('#my_modalCYCLE').on('show.bs.modal.fade.createCycle', function(e) {
                        var bookId = $(e.relatedTarget).data('book-id');
                        console.log("Create Cycle Modal");
                        $(e.currentTarget).find('input[name="gid"]').val(bookId);
                    });



                    $('#my_modalCreateMeasures').on('show.bs.modal.fade-in.createMeasurement', function(e) {
                        var bookId = $(e.relatedTarget).data('book-id');
                        var goalid = $(e.relatedTarget).data('book-id2');
                        console.log(goalid);
                        console.log("Create Measurement Modal");
                        $(e.currentTarget).find('input[name="GoalID"]').val(bookId);
                        
                    });

                    $('#my_modal').on('show.bs.modal.fade.createMeasurement', function(e) {
                        var bookId = $(e.relatedTarget).data('book-id');
                        alert("CALLING THE SECCOND MODAL");
                        $(e.currentTarget).find('input[name="GoalID"]').val(bookId);
                    });

                </script>



                


                <form method="get" action="/QualityMetrics">
                    <input type="hidden" name="passdata" value="1">
                    <button type="submit" class="btn btn-success" id="backsuccess" style="display: none;">Hi</button>
                </form>
                <form method="get" action="/QualityMetrics">
                    <input type="hidden" name="passdata" value="0">
                    <button type="submit" class="btn btn-success" style="display: none;" id="backfail">Hi</button>
                </form>
                <!--Do Me-->
                <!script for dynamic text area>
                    <script>
                        function textAreaAdjust(o) {
                            o.style.height = "1px";
                            o.style.height = (25 + o.scrollHeight) + "px";
                        }

                        /*function addQT(tBody) {
                            var qt = document.getElementById("QualityTarget").value;
                            var td = document.getElementById("targetDesc").value;
                            var percent= document.getElementById("Percent").value;
                            var check=document.getElementById("Percent");
                            document.getElementById("QualityTarget").value=' ';
                            document.getElementById("targetDesc").value=' ';
                            console.log(qt);
                            if (qt != "" && check.checked==true) {
                                // Get a reference to the table
                                var tableRef = document.getElementById("tBody");
                                // Insert a row at the end of the table
                                var newRow = tableRef.insertRow(0);
                                // Insert a cell in the row at index 0
                                var newCell = newRow.insertCell(0);
                                var newCell1= newRow.insertCell(1);
                                var newCell2= newRow.insertCell(2); 
                                var cancel = newRow.insertCell(3);
                                var newCell3 = newRow.insertCell(4).style.display="none";
                                
                                
                                // Append a text node to the cell
                                var newText = document.createTextNode(qt);
                                var newText1 = document.createTextNode(percent);
                                var newText2 = document.createTextNode(td);
                                var newText3 = document.createTextNode("0");
                                cancel.innerHTML = "<input type='button' value='X' onclick='deleteRow(this)'>";
                                newCell.appendChild(newText);
                                newCell1.appendChild(newText1);
                                newCell2.appendChild(newText2);
                                newCell3.appendChild(newText3);
                                
                            } else if (qt != "" && check.checked==false) {
                                // Get a reference to the table
                                var tableRef = document.getElementById("tBody");
                                // Insert a row at the end of the table
                                var newRow = tableRef.insertRow(0);
                                // Insert a cell in the row at index 0
                                var newCell = newRow.insertCell(0);
                                var newCell1= newRow.insertCell(1);
                                var newCell2= newRow.insertCell(2); 
                                var cancel = newRow.insertCell(3);
                                var newCell3 = newRow.insertCell(4);
                                // Append a text node to the cell
                                var newText = document.createTextNode(qt);
                                var newText1 = document.createTextNode("count");
                                var newText2 = document.createTextNode(td);
                                var newText3 = document.createTextNode("1");
                                cancel.innerHTML =
                                    "<input type='button' value='X' onclick='deleteRow(this)'>";
                                newCell.appendChild(newText);
                                newCell1.appendChild(newText1);
                                newCell2.appendChild(newText2);
                                newCell3.appendChild(newText3);
                            } else {
                                alert("please give an input");
                            }


                        }

                        function deleteRow(r) {
                            var i = r.parentNode.parentNode.rowIndex;
                            document.getElementById("tBody").deleteRow(i - 1);
                        }

                        var close = document.getElementsByClassName("closebtn");
                        var i;

                        for (i = 0; i < close.length; i++) {
                            close[i].onclick = function() {
                                var div = this.parentElement;
                                div.style.opacity = "0";
                                setTimeout(function() {
                                    div.style.display = "none";
                                }, 600);
                            }
                        }*/

                        $(document).ready(function () {
                        $(".add-row-target").click(function test() {
                            
                            //alert("testing adding activities");
                            var qt = document.getElementById("QualityTarget").value;
                            var td = document.getElementById("targetDesc").value;
                            var percent= document.getElementById("Percent").value;
                            var check=document.getElementById("Percent");
                            document.getElementById("QualityTarget").value=' ';
                            document.getElementById("targetDesc").value=' ';
                            
                            if (qt != "" && check.checked==true) {
                            //console.log(activityName);
                            var percount = "0";
                            var markup = "<tr><td>" + qt + "</td><td>" + '%' +"</td><td>" + td + "</td><td><button type='button' class='delete-row btn btn-danger btn-sm' onclick='deleteRow(this)'>Remove</button></td><td style='display:none;'>" + percount + "</td></tr>";
                            var table = document.getElementById("TargetT")
                            $(table).append(markup);
                            } else if (qt != "" && check.checked==false) {
                                var percount = "1";
                                var markup = "<tr><td>" + qt + "</td><td>" + '#' +"</td><td>" + td + "</td><td><button type='button' class='delete-row btn btn-danger btn-sm' onclick='deleteRow(this)'>Remove</button></td><td style='display:none;'>" + percount + "</td></tr>";
                                var table = document.getElementById("TargetT")
                            $(table).append(markup);
                            }else {
                                alert("please give an input");
                            }

                            
                        });

                    });

                    function deleteRow(r) {
                    //console.log("testing delete click");
                r.closest("tr").remove();
            }

                        $(document).ready(function() {
                            $(".add-row-cycles").click(function test() {
                                //console.log("testing test");
                                if (!checkEmptyInput()) {
                                    var yearNum = $("#yearNum").val();
                                    var termNum = $("#termNum").val();
                                    var cycleNum= yearNum*termNum;
                                    var gid = $("#gid").val();
                                    var CNT = 1;
                                    var CNY = 1;
                                    var order = 1;
                                    var rowID = 1;
                                    for(var i=0;i<yearNum;i++){
                                        for(var j=0;j<termNum;j++){
                                                var markup = "<tr><td>" + "Year "+ CNY +" - Term "+ order + "</td><td>" + "<input type='date' id='sDate~"+ rowID +"' name='sDate~"+ rowID +"' onchange='checkStartDate(event);'>" + "</td><td>" + "<input type='date' id='eDate~"+ rowID +"' name='eDate~"+ rowID +"' onchange='checkEndDate(event);'>" + "<td style='display: none;'>"+ CNT +"</td><td style='display: none;'>"+ termNum+"</td><td style='display: none;'>" + gid + "</td><td id='cellSDate~" +rowID+"' style='display: none;'></td><td id='cellEDate~" +rowID+"' style='display: none;'></td><td style='display: none;'>" + order + "</td></tr>";
                                            var table = document.getElementById("tableCycles")
                                            $(table).append(markup);
                                            CNT++;
                                            rowID++;
                                            order++;
                                        }
                                        order = 1;
                                        CNY++;
                                    }
                                 
                                }
                            });

                            $(document).ready(function() {
                                $('.display').DataTable({
                                    rowReorder: true,
                                    columnDefs: [
                                        { orderable: true, className: 'reorder', targets: 3 },
                                        { orderable: false, targets: '_all' }
                                    ]
                                } );
                            } );
                                                        
                        });

                         
                        var n =  new Date();
                        var y = n.getFullYear();
                        var m = n.getMonth() + 1;
                        var d = n.getDate();
                        var date = y + "-" + m + "-" + d;
                        var dateToday = new Date();
                        var y = dateToday.getFullYear();
                        var m = dateToday.getMonth() + 1;
                        var d = dateToday.getDate();
                        var dateTodayFinal = y + "-" + m + "-" + d;
                        
                        function checkStartDate(e){
                            var id = e.target.name.substr(e.target.name.lastIndexOf('~') + 1);
                            var edate = document.getElementById("eDate~"+id).value;
                            //alert(date);
                            if(date == dateTodayFinal){
                                
                                //alert("checking start date");
                                if(new Date(e.target.value).getTime() >= new Date(date).getTime()){
                                    //alert("kek");
                                    console.log("FIRST DATE INPUT IS OK");
                                    document.getElementById("cellSDate~"+id).innerHTML = e.target.value;
                                }else{
                                    alert("Start cannot be a date before today!")
                                    document.getElementById("sDate~"+id).value = "";
                                    //console.log(date);
                                    //console.log("date now = " + new Date(date).getTime());
                                    //console.log("date selected = "+new Date(e.target.value).getTime());
                                    //console.log(e.target.value);
                                }
                            }else{
                                if(new Date(e.target.value).getTime() >= new Date(date).getTime()){
                                    console.log("start date is fine");
                                    console.log(date);
                                    document.getElementById("cellSDate~"+id).innerHTML = e.target.value;
                                }else{
                                    alert("Start date cannot be a date during the previous cycle");
                                    document.getElementById("sDate~"+id).value = "";
                                }
                            }
                           //alert(edate);
                            //console.log(id);
                        }

                        function checkEndDate(e){
                            var id = e.target.name.substr(e.target.name.lastIndexOf('~') + 1);
                            var sdate = document.getElementById("sDate~"+id).value;
                            var edate = document.getElementById("eDate~"+id).value;

                            if( (new Date(edate).getTime() < new Date(sdate).getTime()))
                            {
                                alert("End Date cannot be before Start Date!");
                                document.getElementById("eDate~"+id).value = "";
                            }else{
                                console.log("Fine");
                                date = e.target.value;
                                console.log("setting the date = "+date);
                                document.getElementById("cellEDate~"+id).innerHTML = e.target.value;
                            }
                            
                            //console.log(id);
                            //console.log(sdate);
                        }

                        function checkEmptyInput() {
                            var isEmpty = false,
                                yearNum = document.getElementById("yearNum").value,
                                termNum = document.getElementById("termNum").value;

                            if (yearNum === "") {
                                alert("Cycle Name cannot Be Empty");
                                isEmpty = true;
                            } else if (termNum === "") {
                                alert("Cycle Duration Cannot Be Empty");
                                isEmpty = true;
                            }
                            return isEmpty;
                        }

                        

                        function backsuccess() {
                            var button = document.getElementById('backsuccess');
                            button.click();

                        };

                        function backfail() {
                            var button = document.getElementById('backfail');
                            button.click();

                        };

                    </script>

                    <script type="text/javascript">
                        $(document).ready(function() {

                            $("#toJSON").click(function() {
                                console.log("Hello");
                                
                                var table = JSON.stringify($('#TargetT').tableToJSON());
                                var mname = document.getElementById(
                                    "MeasurementName").value;
                                var desc = document.getElementById(
                                    "MeasurementDesc").value;
                                var gid = document.getElementById("GoalID").value;
                                
                                var p = document.getElementById("priority");
                                var priority = p.options[p.selectedIndex].value;
                                console.log(priority);
                                var xhr = new XMLHttpRequest();
                                xhr.open('POST', '/AddMeasurementsJSON', true);
                                xhr.setRequestHeader('Content-Type',
                                    'application/x-www-form-urlencoded');
                                xhr.onload = function() {
                                    console.log(xhr.responseText);
                                };

                                xhr.onreadystatechange = function() {
                                    if (xhr.readyState == 4) {
                                        var respData = xhr.responseText;
                                        if (respData == "OK") {
                                            console.log("Good");
                                            backsuccess();
                                        } else {
                                            console.log("Not Good");
                                            backfail();
                                        }
                                    }
                                };


                                xhr.send("table=" + table + "&mname=" + mname +
                                    "&desc=" + desc + "&priority=" + priority +
                                    "&gid=" + gid );

                            });


                            $("#toJSONCycles").click(function() {
                            console.log("JSON CYCLES");
                            var table = JSON.stringify($('#tableCycles').tableToJSON());
                            //var mid = document.getElementById("mid").value

                            var xhr = new XMLHttpRequest();
                            xhr.open('POST', '/AddCyclesJSON', true);
                            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                            xhr.onload = function() {
                                console.log(xhr.responseText);
                            };

                            xhr.onreadystatechange = function() {
                                if (xhr.readyState == 4) {
                                    var respData = xhr.responseText;
                                    if (respData == "OK") {
                                        console.log("Hi");
                                        backsuccess();
                                    } else {
                                        backfail();
                                    }
                                }
                            };


                            xhr.send("table=" + table);

                        });

                            function backsuccess() {
                                var button = document.getElementById('backsuccess');
                                button.click();

                            };

                            function backfail() {
                                var button = document.getElementById('backfail');
                                button.click();

                            };

                        });

                    </script>


                    <!-- Bootstrap -->
                    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
                    <!-- FastClick -->
                    <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
                    <!-- NProgress -->
                    <script src="assets/vendors/nprogress/nprogress.js"></script>
                    <!-- bootstrap-progressbar -->
                    <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js">
                    </script>
                    <!-- iCheck -->
                    <script src="assets/vendors/iCheck/icheck.min.js"></script>
                    <!-- bootstrap-daterangepicker -->
                    <script src="assets/vendors/moment/min/moment.min.js"></script>
                    <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js">
                    </script>
                    <!-- bootstrap-wysiwyg -->
                    <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js">
                    </script>
                    <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
                    <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
                    <!-- jQuery Tags Input -->
                    <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js">
                    </script>
                    <!-- Switchery -->
                    <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
                    <!-- Select2 -->
                    <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
                    <!-- Parsley -->
                    <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
                    <!-- Autosize -->
                    <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
                    <!-- jQuery autocomplete -->
                    <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js">
                    </script>
                    <!-- starrr -->
                    <script src="assets/vendors/starrr/dist/starrr.js"></script>
                    <!-- Custom Theme Scripts -->
                    <script src="assets/build/js/custom.min.js"></script>
                    <script src="assets/js/JSONjs/jquery.tabletojson.js"></script>

                    <!-- Datatables -->
                    <script src="assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
                    <script src="assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
                    <script src="assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
                    <script src="assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
                    <script src="assets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
                    <script src="assets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
                    <script src="assets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
                    <script src="assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
                    <script src="assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
                    <script src="assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
                    <script src="assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
                    <script src="assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
                    <script src="assets/vendors/jszip/dist/jszip.min.js"></script>
                    <script src="assets/vendors/pdfmake/build/pdfmake.min.js"></script>
                    <script src="assets/vendors/pdfmake/build/vfs_fonts.js"></script>
                    

                    </body>
                    

</html>
