<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Measurement: <%= data[0].measurement_Name %></title>
    <!--Edited-->

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
        }

        .alert.success {
            background-color: #4CAF50;
        }

        .alert.info {
            background-color: #2196F3;
        }

        .alert.warning {
            background-color: #ff9800;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }

    </style>
</head>
<% if(locals.notif){ %>
<% if(notif.goodStatus == 1) {%>
<div class="alert success">
    <span class="closebtn">&times;</span>
    <%= notif.msg %>
</div>
<%}else{%>
<div class="alert">
    <span class="closebtn">&times;</span>
    <%= notif.msg %>
</div>
<%}%>
    <%}%>

<style>
    #checkbox {
        display: none;
    }

    #countbox {
        display: none;
    }

    form input,
    button {
        padding: 5px;
    }

    table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid #cdcdcd;
    }

    table th,
    table td {
        padding: 10px;
        text-align: left;
    }

</style>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <%- include ./nav.ejs %>
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="x_content">

                                <div class="title_left">
                                    <h1 align="left">View Measurement Details Title: <%= data[0].measurement_Name %></h1>
                                    <!--h1>TESTING CURRENT USER LOGGED IN: <%= current_user[0].User_ID %> - <%= current_user[0].Role %></h1-->
                                    <h4 align="left"><a href="/QualityMetrics" class="btn btn-primary">Back to Goals Page</a></h4>
                                </div>
                                <br />

                                <div class="col-md-12 col-sm-6 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <div class="page-title">
                                                <div class="title_right">
                                                    <h2>Description:<br> <%= data[0].measurement_Description %></h2>
                                                </div>
                                                <% if (current_user[0].Role == 1) { %>
                                                    <div class="title_left">
                                                        <h2>
                                                            Quality Target/s :<br>
                                                            <% for(var targets of dataI) { %>
                                                                <% if (data[0].measurement_ID == targets.measurementID) { %> 
                                                                    <%= targets.target %> 
                                                                    <% if (targets.target_Type == 0) { %>
                                                                    %
                                                                    <% } else { %>
                                                                    #
                                                                    <% } %> 
                                                                    - <%= targets.target_Desc %>
                                                                    <br>
                                                                <% } %>
                                                            <% } %>
                                                        </h2>
                                                    </div>
                                                <% } %>
                                            </div>
                                            <!--Edited-->
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="x_content">

                                    <!BUTTONS FOR CREATE OF ACTIVITIES>
                                    <% if (current_user[0].Role == 1 && dataK[0].status == 0) { %>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
                                            Create Activities
                                        </button>

                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target=".bs-example-modal-lg-assign-activity">
                                            Assign Activity/s
                                        </button>
                                    <% } %>

                                        <div class="panel-body">
                                            <div class="panel">

                                                <h2>Activities Table</h2>

                                                <a class="panel-heading" role="tab" id="HeadGroupOne" data-toggle="collapse" data-parent="#headingTwo" href="#FacilitiesGroupOne" aria-expanded="true" aria-controls="FacilitiesGroupOne">
                                                </a>

                                                <br>
                                                <div>

                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>

                                                                <th style="display: none;">ID</th>
                                                                <th>Activity Name</th>
                                                                <th>Description</th>
                                                                <th>Expected Outputs</th>
                                                                <th>Deadline</th>
                                                                <th>Assigned Members</th>
                                                                <th></th>
                                                                <th></th>
                                                                <% if (current_user[0].Role == 1) { %>
                                                                <th></th>
                                                                <% } %>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!--VIEW OF ADMIN OR QA OR DEP CHAIR-->
                                                            <% if (current_user[0].Role == 1) { %>
                                                                <% for (actMeasures of dataG) { %> 
                                                                    <% for (activities of dataB) { %> 
                                                                        <% if (data[0].measurement_ID == actMeasures.measurement_ID && activities.activity_ID == actMeasures.activity_ID) { %>
                                                                    
                                                                            <tr>
                
                                                                                <td style="display: none;"><%= activities.activity_ID %>
                                                                                </td>
                                                                                <td><%= activities.activity_name %></td>
                                                                                <td><%= activities.description %></td>
                                                                                <td>
                
                                                                                    <% for (outputs of dataD){ %>
                                                                                    <% if (outputs.activity_ID == activities.activity_ID) { %>
                                                                                    <%= outputs.output %>
                                                                                    <br>
                                                                                    <% } %>
                                                                                    <% } %>
                
                                                                                </td>
                                                                                <td><%= activities.deadline %></td>
                                                                                <td>
                                                                                    <% for (actMembers of dataH) { %>
                                                                                        <% if(activities.activity_ID == actMembers.activity_ID) { %>
                                                                                            <% for (users of dataJ) { %>
                                                                                                <% if(users.User_ID == actMembers.activity_Member) { %>
                                                                                                    <%= users.User_First %> <%= users.User_Last %> <br>
                                                                                                <% } %>
                                                                                            <% } %>
                                                                                        <% } %>
                                                                                    <% } %>
                                                                                </td>
                                                                                <td>
                                                                                    <form method="get" action="ActivityDetails">
                                                                                        <input type="hidden" name="UID" value="<%= activities.activity_ID %>">
                                                                                        <input type="hidden" name="CID" value="<%= data[0].cycle_ID %>">
                                                                                        <button type="submit" class="btn btn-primary">Submit
                                                                                            Evidence
                                                                                        </button>
                                                                                    </form>
                                                                                    <br>
                                                                                    <% if (dataK[0].status == 0) { %>
                                                                                    <button class="btn btn-primary" href="#my_modaloutputs"
                                                                                        data-toggle="modal"
                                                                                        data-book-id="<%= activities.activity_ID %>">Add
                                                                                        expected output/s</button>
                                                                                    <% } %>
                                                                                </td>
                                                                                
                                                                                <td>
                                                                                    <% if (dataK[0].status == 0) { %>
                                                                                    <form method="get" action="AssignActivityToMember">
                                                                                        <input type="hidden" name="AID" value="<%= activities.activity_ID %>">
                                                                                        <input type="hidden" name="GID" value="<%= data[0].GroupAssigned %>">
                                                                                        <button type="submit" class="btn btn-primary">Assign Members
                                                                                        </button>
                                                                                    </form>
                                                                                    <% } %>
                                                                                </td>
                                                                                
                                                                            </tr>
                                                                            <% } %>
                                                                            <% } %>
                                                                            <% } %>
                                                                            <!--END OF ADMIN, QAO, AND DEPCHAIR VIEW-->
                                                                            <!--VIEW OF A USER-->
                                                            <% } else { %>
                                                                <% for (var actMembers of dataH) { %>
                                                                    <% for (actMeasures of dataG) { %> 
                                                                      <% for (activities of dataB) { %>
                                                                        <% if ((actMembers.activity_Member == current_user[0].User_ID && data[0].measurement_ID == actMeasures.measurement_ID && activities.activity_ID == actMembers.activity_ID && actMeasures.activity_ID == activities.activity_ID)) { %>
                                                                
                                                                        
                                                                            <tr>
                                                                                <td style="display: none;"><%= activities.activity_ID %>
                                                                                </td>
                                                                                <td><%= activities.activity_name %></td>
                                                                                <td><%= activities.description %></td>
                                                                                <td>
                
                                                                                    <% for (outputs of dataD){ %>
                                                                                    <% if (outputs.activity_ID == activities.activity_ID) { %>
                                                                                    <%= outputs.output %>
                                                                                    <br>
                                                                                    <% } %>
                                                                                    <% } %>
                
                                                                                </td>
                                                                                <td><%= activities.deadline %></td>
                                                                                <td>
                                                                                    <% for (actMembers of dataH) { %>
                                                                                        <% if(activities.activity_ID == actMembers.activity_ID) { %>
                                                                                            <% for (users of dataJ) { %>
                                                                                                <% if(users.User_ID == actMembers.activity_Member) { %>
                                                                                                    <%= users.User_First %> <%= users.User_Last %> <br>
                                                                                                <% } %>
                                                                                            <% } %>
                                                                                        <% } %>
                                                                                    <% } %>
                                                                                </td>
                                                                                <td>
                                                                                    <form method="get" action="ActivityDetails">
                                                                                        <input type="hidden" name="UID" value="<%= activities.activity_ID %>">
                                                                                        <input type="hidden" name="CID" value="<%= data[0].cycle_ID %>">
                                                                                        <button type="submit" class="btn btn-primary">Submit
                                                                                            Evidence
                                                                                        </button>
                                                                                    </form>
                                                                                   
                                                                                    
                                                                                </td>
                                                                                
                                                                            </tr>
                                                                            
                                                                            <% } %>
                                                                            
                                                                        <% } %>
            
                                                                        <% } %>
                                                                        <% } %>
                                                                        
                                                            <% } %>
                                                            <!-- END OF USER VIEW -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                </div>

                                <div class="ln_solid"></div>

                                

                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var close = document.getElementsByClassName("closebtn");
                    var i;

                    for (i = 0; i < close.length; i++) {
                        close[i].onclick = function() {
                            var div = this.parentElement;
                            div.style.opacity = "0";
                            setTimeout(function() {
                                div.style.display = "none";
                            }, 600);
                        }
                    }

                </script>

                <!-- /page content -->

                
            </div>
        </div>

        <!--Modal for Create Activities -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Create Activities
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <div class="panel">
                                <a class="panel-heading" role="tab" id="HeadGroupOne" data-toggle="collapse" data-parent="#headingTwo" href="#FacilitiesGroupOne" aria-expanded="true" aria-controls="FacilitiesGroupOne">
                                </a>
                                <!--div class="title_left">
                                    <button type="button" class="btn btn-default" id="check">Check</button>
                                    <button type="button" class="btn btn-default" id="count">Count</button>
                                </div-->
                                <br>

                                <!--div id="checkbox">
                                    <label for="activitycheck">Activity</label>
                                    <br>
                                    <input type="text" name="activitycheck" id="activitycheck" value="">
                                    <br>
                                    <label for="descriptioncheck">Description</label>
                                    <br>
                                    <textarea id="descriptioncheck" name="descriptioncheck" required="required"
                                        class="form-control col-md-7 col-xs-12" onkeyup="textAreaAdjust(this)"
                                        style="overflow:hidden"></textarea>
                                    <br>
                                    <input type="hidden" name="targetcheck" id="targetcheck" value="100">
                                    <br><br>
                                    <button type="button" class="btn btn-default add-row">Add</button>
                                </div-->
                                <!--div id="countbox"-->
                                <label for="activitycount">Activity</label>
                                <br>
                                <textarea type="text" name="activitycount" id="activitycount" required="required" class="form-control col-md-7 col-xs-12" onkeyup="textAreaAdjust(this)" style="overflow:hidden"></textarea>
                                <br>
                                <label for="descriptioncount">Description</label>
                                <br>
                                <textarea id="descriptioncount" name="descriptioncount" required="required" class="form-control col-md-7 col-xs-12" onkeyup="textAreaAdjust(this)" style="overflow:hidden"></textarea>
                                <br>
                                <!--label for="target">Weight</label>
                                <br>
                                <input type="number" name="targetcount" id="targetcount" value="">
                                <br-->
                                <label for="target">Measurements</label>
                                <br>
                                <select style="width: 500px;" class="js-example-basic-multiple" name="measurement[]" id="measurement[]" multiple="multiple">
                                    <% for (var measures of dataE) { %>
                                    <option value="<%= measures.measurement_ID %>~<%= measures.measurement_Name %>">
                                        <%= measures.measurement_Name %></option>
                                    <% } %>
                                </select>
                                <br>
                                <label> Deadline
                                    <br>
                                    <input type="date" name="deadline" id="deadline" value="">
                                    <br><br>

                                    <button type="button" class="btn btn-default add-row2">Add</button>
                                    <!--/div-->



                                    <div class="ln_solid"></div>
                                    <table id="tableactivities">
                                        <thead>
                                            <tr>

                                                <th>Activity Name</th>
                                                <th>Description</th>
                                                <th>Measurement to assign</th>
                                                <th>Deadline</th>
                                                <th></th>
                                                <th style='display: none;'>MeasurementID</th>

                                            </tr>
                                        </thead>
                                        <tbody>


                                        </tbody>
                                    </table>
                                    <!SUBMIT BUTTON HERE>
                                        <button type="button" class="btn btn-success" id="toJSONactivities" style="display: none;">SUBMIT</button>
                                        <button type="button" class="btn btn-success" id="checkTotal">SUBMIT</button>
                            </div>


                            <form method="get" action="/ViewMeasurementDetails">
                                <input type="hidden" name="passdata" value="1">
                                <input type="hidden" name="MID" value="<%= data[0].measurement_ID %>">
                                <button type="submit" class="btn btn-success" style="display: none;" id="backsuccess">Hi</button>
                            </form>

                            <form method="get" action="/ViewMeasurementDetails">
                                <input type="hidden" name="passdata" value="0">
                                <input type="hidden" name="MID" value="<%= data[0].measurement_ID %>">
                                <button type="submit" class="btn btn-success" style="display: none;" id="backfail">Hi</button>
                            </form>

                            <input type="hidden" name="passdata" value="<%= data[0].measurement_ID %>" id="mid">

                            <!--End of Group 1 Table -->

                        </div>
                    </div>



                    <!--script>
                        $(document).ready(function () {
                            $("#check").click(function () {
                                $("#checkbox").toggle();
                            });
                            $("#count").click(function () {
                                $("#countbox").toggle();
                            });
                        });
                    </script-->
                </div>
            </div>
        </div>
    </div>


    <!--MODAL FOR ADDING EXPECTED OUTPUTS FOR ACTIVITIES -->
    <div class="modal fade" id="my_modaloutputs">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Adding Expected Outputs
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="panel">
                            <a class="panel-heading" role="tab" id="HeadGroupOne" data-toggle="collapse" data-parent="#headingTwo" href="#FacilitiesGroupOne" aria-expanded="true" aria-controls="FacilitiesGroupOne">
                            </a>
                            <br>
                            <input type="hidden" name="activityID" id="activityID" required="required" class="form-control col-md-7 col-xs-12" hidden>
                            <br>
                            <label for="activityoutput">Expected Output</label>
                            <br>
                            <textarea id="activityoutput" name="activityoutput" required="required" class="form-control col-md-7 col-xs-12" onkeyup="textAreaAdjust(this)" style="overflow:hidden"></textarea>
                            <br><br>


                            <button type="button" class="btn btn-default add-row-exoutputs">Add</button>

                            <div class="ln_solid"></div>
                            <table id="tableoutputs">
                                <thead>
                                    <tr>

                                        <th style="display: none;">Activity ID</th>
                                        <th>Output</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>


                                </tbody>
                            </table>
                            <!SUBMIT BUTTON HERE>
                                <button type="button" class="btn btn-success" id="toJSONoutputs">SUBMIT</button>
                                <!--button type="button" class="btn btn-success" id="checkTotal">SUBMIT</button-->
                        </div>


                        <form method="get" action="/ViewMeasurementDetails">
                            <input type="hidden" name="passdata" value="1">
                            <input type="hidden" name="MID" value="<%= data[0].measurement_ID %>">
                            <button type="submit" class="btn btn-success" style="display: none;" id="backsuccess">Hi</button>
                        </form>

                        <form method="get" action="/ViewMeasurementDetails">
                            <input type="hidden" name="passdata" value="0">
                            <input type="hidden" name="MID" value="<%= data[0].measurement_ID %>">
                            <button type="submit" class="btn btn-success" style="display: none;" id="backfail">Hi</button>
                        </form>

                        <input type="hidden" name="passdata" value="<%= data[0].measurement_ID %>" id="mid">

                        <!--End of Group 1 Table -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal for Assigning Activities -->
    <div class="modal fade bs-example-modal-lg-assign-activity" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Assign Activity/s
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="panel">
                            <a class="panel-heading" role="tab" id="HeadGroupOne" data-toggle="collapse"
                                data-parent="#headingTwo" href="#FacilitiesGroupOne" aria-expanded="true"
                                aria-controls="FacilitiesGroupOne">
                            </a>
                            
                            
                            <br>
                            <input type="hidden" name="measurementID" id="measurementID" required="required"
                                class="form-control col-md-7 col-xs-12" value="<%= data[0].measurement_ID %>">
                            <br>
                            <label for="measurementName">Measurement Name</label>
                            <br>
                            <input type="text" name="measurementName" id="measurementName" required="required"
                                class="form-control col-md-7 col-xs-12" value="<%= data[0].measurement_Name %>" readonly>
                            <br>
                           
                            <label for="target">Activities</label>
                            <br>
                            <select class="form-control" name="activities" id="activities">
                                <% for (var activities of dataF) { %>
                                <option value="<%= activities.activity_ID %>~<%= activities.activity_name %>">
                                    <%= activities.activity_name %></option>
                                <% } %>
                            </select>
                            <br>
                            
                                <button type="button" class="btn btn-default addactivities">Add</button>
                                
                                <div class="ln_solid"></div>
                                <table id="tableassignactivities">
                                    <thead>
                                        <tr>

                                            <th style='display: none;'>MeasurementID</th>
                                            <th>Measurement</th>
                                            <th>Activity to assign</th>
                                            <th></th>
                                            <th style='display: none;'>ActivityID</th>

                                        </tr>
                                    </thead>
                                    <tbody>


                                    </tbody>
                                </table>
                                <!SUBMIT BUTTON HERE>
                                    <button type="button" class="btn btn-success" id="toJSONassignActs"
                                        >SUBMIT</button>
                                    
                        </div>


                        <form method="get" action="/ViewMeasurementDetails">
                            <input type="hidden" name="passdata" value="1">
                            <input type="hidden" name="MID" value="<%= data[0].measurement_ID %>">
                            <button type="submit" class="btn btn-success" style="display: none;"
                                id="backsuccess">Hi</button>
                        </form>

                        <form method="get" action="/ViewMeasurementDetails">
                            <input type="hidden" name="passdata" value="0">
                            <input type="hidden" name="MID" value="<%= data[0].measurement_ID %>">
                            <button type="submit" class="btn btn-success" style="display: none;"
                                id="backfail">Hi</button>
                        </form>

                        <input type="hidden" name="passdata" value="<%= data[0].measurement_ID %>" id="mid">

                        <!--End of Group 1 Table -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var total = 0;
        var checkingtotal = 0;
        $(document).ready(function() {
            /*$(".add-row").click(function () {
                if (!checkEmptyInputcheck()) {
                    console.log("testing add button");
                    var activity = $("#activitycheck").val();
                    var target = $("#targetcheck").val();
                    var description = $("#descriptioncheck").val();
                    var markup =
                        "<tr><td><i class='fa fa-check-square'></i></td><td>" +
                        activity + "</td><td>" + description + "</td><td>" + target +
                        "</td><td><button type='button' class='delete-row' onclick='deleteRow(this)'>Remove</button></td><td style='display: none'>0<td></tr>";
                    $("table tbody").append(markup);
                }
            });*/

            $('.js-example-basic-multiple').select2();

            $(".add-row2").click(function test() {
                //GETS VALUES OF THE DROPDOWN
                var measure = $(".js-example-basic-multiple").val();
                //alert(measure);
                console.log(measure.length);
                var measureID="";
                var measureName=""
                for(var x=0;x<measure.length;x++){
                    measureID = measureID + measure[x].substr(0, measure[x].lastIndexOf('~'))+",";
                    measureName = measureName + measure[x].substr(measure[x].lastIndexOf('~') + 1) + "<br>";
                }
                var comremove = measureID.length - 1;
                measureID = measureID.substr(0, comremove);
                console.log("Final: " +measureID);
                console.log("Final: " +measureName);
                
                if (!checkEmptyInputcount()) {
                    //console.log("testing add button");
                    var activity = $("#activitycount").val();
                    //var measurement = $("#measurement").val();
                    var description = $("#descriptioncount").val();
                    var dead = $("#deadline").val();
                    //var measureID = measurement.substr(0, measurement.indexOf('-'));
                    //var measureName = measurement.substr(measurement.lastIndexOf('-') + 1);
                    //console.log(dead);
                    //console.log(measurement);
                    //console.log(measureID);
                    //console.log(measureName);
                    //total = +total + +target;
                    //console.log(total + " 1st");
                    //if (total <= 100) {
                    var markup = "<tr><td>" + activity +
                        "</td><td>" + description + "</td><td>" + measureName + "</td><td>" + dead +
                        "</td><td><button type='button' class='delete-row' onclick='deleteRow(this)'>Remove</button></td><td style='display: none;'>" + measureID + "</td></tr>";
                    var table = document.getElementById("tableactivities")
                    $(table).append(markup);
                    //console.log(total + " 2nd");
                    /*} else {
                        total = +total - +target;
                        alert("Total is above 100, please adjust weight");
                        console.log(total + " 3rd");
                    }*/
                    $('#activitycount').val('');
                    $('#descriptioncount').val('');
                    $('#deadline').val('');
                }
            });

            //ADDING ACTIVITIES TO ASSIGN TO MEASUREMENT TABLE JAVASCRIPT
            $(".addactivities").click(function test() {
                
                //alert("testing adding activities");
                    var measurementID = $("#measurementID").val();
                    var measurementName = $("#measurementName").val();
                    var activities = $("#activities").val();
                    var activityID = activities.substr(0, activities.indexOf('~'));
                    var activityName = activities.substr(activities.lastIndexOf('~') + 1);
                    console.log(activityID);
                    console.log(activityName);
                    var markup = "<tr><td style='display: none;'>" + measurementID +
                        "</td><td>" + measurementName + "</td><td>" + activityName + "</td><td><button type='button' class='delete-row' onclick='deleteRow(this)'>Remove</button></td><td style='display: none;'>" + activityID + "</td></tr>";
                    var table = document.getElementById("tableassignactivities")
                    $(table).append(markup);
            });
        });

        function checkEmptyInputcount() {
            var isEmpty = false,
                activitycount = document.getElementById("activitycount").value,
                desccount = document.getElementById("descriptioncount").value;
            if (activitycount === "") {
                alert("Activity Cannot Be Empty");
                isEmpty = true;
            } else if (desccount === "") {
                alert("Description Cannot Be Empty");
                isEmpty = true;
            }
            return isEmpty;
        }

        function deleteRow(r) {
            r.closest("tr").remove();
            var table = document.getElementById("tableactivities");
            var val = r.closest("tr").cells[2].innerHTML;
            //console.log("cell weight: " + val);

            //total = +total - +val;
            //console.log("Minused total: " + total);
        }

        $("#toJSONactivities").click(function() {
            console.log("Hello");
            var table = JSON.stringify($('#tableactivities').tableToJSON());

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/AddActivitiesJSON', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                console.log(xhr.responseText);
            };

            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    var respData = xhr.responseText;
                    if (respData == "OK") {
                        console.log("Hi");
                        backsuccess();
                    } else {
                        backfail();
                    }
                }
            };


            xhr.send("table=" + table + "&mid=" + mid);

        });

        $("#checkTotal").click(function() {
            //console.log("Total for submission: " + total);
            //if (total < 100) {
            //    alert("Activities weight insufficient please add more or adjust the weights of the current activities")
            //} else {
            alert("success");
            addsuccess();
            //}

        });

        function backsuccess() {
            var button = document.getElementById('backsuccess');
            button.click();

        };

        function backfail() {
            var button = document.getElementById('backfail');
            button.click();

        };

        function addsuccess() {
            var button = document.getElementById('toJSONactivities');
            button.click();
        }
        $(document).ready(function() {
            $(".add-row-exoutputs").click(function test() {
                //console.log("testing test");
                if (!checkEmptyInput()) {
                    //console.log("testing add button");
                    var activity = $("#activityID").val();
                    var output = $("#activityoutput").val();

                    var markup = "<tr><td style='display: none'>" + activity +
                        "</td><td>" + output + "</td><td><button type='button' class='delete-row' onclick='deleteRow(this)'>Remove</button></td></tr>";
                    var table = document.getElementById("tableoutputs")
                    $(table).append(markup);


                }
            });
        });

        function checkEmptyInput() {
            var isEmpty = false,
                activityID = document.getElementById("activityID").value,
                activityOutput = document.getElementById("activityoutput").value;

            if (activityID === "") {
                alert("Activity ID cannot Be Empty");
                isEmpty = true;
            } else if (activityOutput === "") {
                alert("Expected Output Cannot Be Empty");
                isEmpty = true;
            }
            return isEmpty;
        }

        $("#toJSONoutputs").click(function() {
            console.log("Hello");
            var table = JSON.stringify($('#tableoutputs').tableToJSON());
            var mid = document.getElementById("mid").value

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/AddOutputsJSON', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                console.log(xhr.responseText);
            };

            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    var respData = xhr.responseText;
                    if (respData == "OK") {
                        console.log("Hi");
                        backsuccess();
                    } else {
                        backfail();
                    }
                }
            };


            xhr.send("table=" + table + "&mid=" + mid);

        });

        $("#toJSONassignActs").click(function () {
            console.log("Hello");
            var table = JSON.stringify($('#tableassignactivities').tableToJSON());
            var mid = document.getElementById("mid").value

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/AssignActivitiesToMeasurementJSON', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function () {
                console.log(xhr.responseText);
            };

            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    var respData = xhr.responseText;
                    if (respData == "OK") {
                        console.log("Hi");
                        backsuccess();
                    } else {
                        backfail();
                    }
                }
            };


            xhr.send("table=" + table + "&mid=" + mid);

        });

        $('#my_modaloutputs').on('show.bs.modal.fade', function (e) {
            var bookId = $(e.relatedTarget).data('book-id');
            //alert(bookId);
            $(e.currentTarget).find('input[name="activityID"]').val(bookId);
        });

    </script>

    <script>
        function textAreaAdjust(o) {
            o.style.height = "1px";
            o.style.height = (25 + o.scrollHeight) + "px";
        }

    </script>



    <!-- Bootstrap -->
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="assets/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="assets/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="assets/vendors/moment/min/moment.min.js"></script>
    <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="assets/vendors/starrr/dist/starrr.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="assets/build/js/custom.min.js"></script>
    <script src="assets/js/JSONjs/jquery.tabletojson.js"></script>

</body>

</html>
