<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>View Submissions Details Page </title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="assests/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <%- include ./nav.ejs %>
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>View Submissions Details</h3>
                            <h2>Testing User - <%= current_user[0].User_First %> - <%= current_user[0].User_ID %></h2>
                            <h2>Current Submission - <%= data[0].pending_ID %> - <%= data[0].activity_name %></h2>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <input type="text" name="PID" id="PID" value="<%= data[0].pending_ID %>">

                                <br />
                                <!--DROPDOWN TO SELECT EVIDENCE TO UPDATE>
                                <select class="form-control" name="evidences" id="evidences">
                                    <% for (var docs of dataB) { %>
                                    <% for (var evidence of dataC) { %>
                                    <% if (evidence.pendingID == data[0].pending_ID && evidence.documentID == docs.Document_ID) { %>
                                    <option value="<%= docs.Document_ID %>~<%= docs.Document_Name %>">
                                        <%= docs.Document_ID %>--<%= docs.Document_Name %></option>
                                    <% } %>
                                    <% } %>
                                    <% } %>

                                </select>
                                <br>

                                <button type="button" class="btn btn-default addEvidence">Add</button-->

                                <br>
                                <!--TABLE TO HOLD THE CHOSEN EVIDENCE TO UPDATE-->
                                <table class="table table-bordered" id="updateTable">
                                    <thead>
                                        <tr>
                                            <th>Submission ID</th>
                                            <th>Evidence</th>
                                            <th>Updated Evidence</th>
                                            <th>EvidenceID</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var x=1; %>
                                        <% for (var docs of dataB) { %>
                                        <% for (var evidence of dataC) { %>
                                        <% if (evidence.pendingID == data[0].pending_ID && evidence.documentID == docs.Document_ID) { %>
                                        <form action="TestingJSON" method="POST" name="updateform" enctype="multipart/form-data">
                                            <tr>
                                                <td><%= data[0].pending_ID %></td>
                                                <td><%= docs.Document_Name %></td>
                                                <td><input type='file' name='DocFile' id='DocFile'></td>
                                                <td class="nr"><%= evidence.documentID %></td>
                                                <td><button class="btn btn-primary" name="btnsubmit<%= x %>" id="btnsubmit<%= x %>" onClick="submit_ID(this.id)" disabled>Submit</button></td>
                                                <input type="hidden" name="DID" value="<%= evidence.documentID %>">
                                                <input type="hidden" name="AID" value="<%= data[0].activity_ID %>">

                                            </tr>
                                        </form>
                                        <% } %>
                                        <% } %>
                                        <% x++ } %>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- /page content -->

                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>

        <script>
            $(document).ready(function() {

                $('input[type=file]').change(function() {
                    var $row = $(this).closest("tr");
                    var $text = $row.find(".nr").text();
                    console.log("GETTING THE EVIDENCE ID " + $text);
                    console.log(name);
                    if ($('input[type=file]').val() == '') {
                        $('#btnsubmit' + $text).attr('disabled', true)
                    } else {
                        $('#btnsubmit' + $text).attr('disabled', false);
                    }
                })

                $('form[name="updateform"]').submit(function(event) {
                    event.preventDefault();
                    var post_url = $(this).attr("action");
                    var request_method = $(this).attr("method");
                    var form_data = new FormData(this)

                    $.ajax({
                        url: post_url,
                        type: request_method,
                        data: form_data,
                        processData: false,
                        contentType: false,
                    }).done(function(response) { //
                        $("#server-results").html(response);
                    });
                });
            });

        </script>

        <script type="text/javascript">
            $(document).ready(function() {
                $(".addEvidence").click(function test() {

                    //alert("testing adding activities");
                    var PID = $("#PID").val();
                    var evidences = $("#evidences").val();

                    var evidenceID = evidences.substr(0, evidences.indexOf('~'));
                    var evidenceName = evidences.substr(evidences.lastIndexOf('~') + 1);
                    console.log(evidenceID);
                    console.log(evidenceName);
                    //console.log(activityName);
                    var markup = "<tr><td '>" + PID + "</td><td>" + evidenceName +
                        "</td><td><input type='file' name='DocFile' id='DocFile'></td><td><button type='button' class='delete-row' onclick='deleteRow(this)'>Remove</button></td><td>" +
                        evidenceID + "</td></tr>";
                    var table = document.getElementById("updateTable")
                    $(table).append(markup);
                });



            });

            function submit_ID(id) {
                alert(id);
            }

        </script>

        <!Script for dynamic text area>
            <script>
                function textAreaAdjust(o) {
                    o.style.height = "1px";
                    o.style.height = (25 + o.scrollHeight) + "px";
                }

            </script>

            <!-- jQuery -->
            <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- FastClick -->
            <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
            <!-- NProgress -->
            <script src="assets/vendors/nprogress/nprogress.js"></script>
            <!-- bootstrap-progressbar -->
            <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
            <!-- iCheck -->
            <script src="assets/vendors/iCheck/icheck.min.js"></script>
            <!-- bootstrap-daterangepicker -->
            <script src="assets/vendors/moment/min/moment.min.js"></script>
            <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
            <!-- bootstrap-wysiwyg -->
            <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
            <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
            <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
            <!-- jQuery Tags Input -->
            <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
            <!-- Switchery -->
            <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
            <!-- Select2 -->
            <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
            <!-- Parsley -->
            <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
            <!-- Autosize -->
            <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
            <!-- jQuery autocomplete -->
            <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
            <!-- starrr -->
            <script src="assets/vendors/starrr/dist/starrr.js"></script>
            <!-- Custom Theme Scripts -->
            <script src="assets/build/js/custom.min.js"></script>

</body>

</html>
